{% ckan_extends %}

{% block resource_item_description %}
  <p class="description">
    {% if res.description %}
      {{ h.markdown_extract(res.description, extract_length=50) }}
    {% endif %}
  </p>
{% endblock %}

{% block resource_item_title %}
	<a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
		{{ h.resource_display_name(res) | truncate(50) }}
		<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
		<img class="resource-access-level-icon" src="/lock_icons/{{ res.access_level }}.png" alt="">
		{{ h.popular('views', res.tracking_summary.total, min=10) }}
	</a>
{% endblock %}