@import url(https://fonts.googleapis.com/css?family=Arimo);

.site-footer,
body {
  background: #eff1f2;
  font-family: Arial;
  font-size: 16px;
  color: $font-color;
  line-height: 1.59375em;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Open Sans", sans-serif;
  color: #69737c;
  font-weight: 600;
  line-height: 1.59375em;
}
h5, h5{
  text-transform: uppercase;
}
h1{
  font-size: 35px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 22px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 12px;
}
h6{
  font-size: 12px;
  font-style: italic;
}
a{
  color: #20399d;
  text-decoration: underline;
  &:hover{
    color: #1e527c;
  }
}

[role="main"]{
  ul{
    // padding-left: 15px;
    li{
      // list-style: circle;
      ul li{
        list-style: square
      }
    }
  }
}

