/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */


/* Hide featured section */
.featured {visibility:hidden; height:0px;}

.account-masthead {
  background-color: #FEFEFE;
}

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #FEFEFE;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(105,115,124);
}

/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgb(40, 40, 40);
  background-color: #FFFFFF;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: #FCFCFC;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(74, 74, 74);
  color: white;
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.account-masthead .account ul li {
  border-left: none;
}

.masthead a,
.masthead hgroup h2,
.masthead .nav > li > a, 
.masthead .nav > li > a:focus, 
.masthead .nav > li > a:hover, 
.masthead .nav > .active > a, 
.masthead .nav > .active > a:hover, 
.masthead .nav > .active > a:focus, 
.account-masthead .account .notifications a span {
  color: rgb(105,115,124);
  text-shadow: none;
}

/* The "dashboard" and number of notifiations background */
.account-masthead .account .notifications a:hover span {
  color: rgb(105,115,124);
  background-color: inherit;
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

.hero {
  background:#FEFEFE;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
 border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(105,115,124);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: rgb(105,115,124);
  background-color: #FCFCFC;
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px;
}

a, a:active, a:hover, a:focus {
  color: rgb(32, 57, 157);
  text-decoration: none;
}

/* The box around featured orgs/groups */
.box {
  border:none;
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  color: rgb(86,86,86);
  background-color: rgb(200, 200, 200);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgb(105,115,124);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgb(105,115,124);
}
