@import 'variables';
@import 'base_items';
@import 'ckan_elements';
@import 'header';
@import 'footer';
@import 'home';
@import 'group';
/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */


.leaflet-draw-toolbar a {
  background-image: url('img/spritesheet.png');
  background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('img/spritesheet-2x.png');
  background-size: 270px 30px;
}




/* ===========================================
   The content in the middle of the front page
   =========================================== */

   /* Hide featured section */
.featured {visibility:hidden; height:0px;}

/* The background outside of the hero pane */
.hero, [role=main] {
  background:#FEFEFE;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(105,115,124);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: rgb(105,115,124);
  background-color: #FCFCFC;
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px;
}

/* The box around featured orgs/groups */
.box {
  border:none;
}



@media(min-width: 1280px){
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container{
    width: 1280px;
    padding-left: 35px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .navbar.navbar-static-top.masthead,
  header.account-masthead,
  [role=main],
  .site-footer
  {
    margin-left: -15px;
  }
  .primary.span9{
    width: 830px;
  }
  #content{
    padding-left: 79px;
    padding-right: 130px;
  }
  .span6{
    width: 600px
  }

}
.paragraph-copyright{
  font-size: 17px;
  line-height: 1.3;
}

@media(max-width: $tablet-top){
  .search-form {
    .control-order-by select{
      width: 100%;
    }
  }
}
@media(max-width: $tablet-top) and (min-width: $mobile-top + 1px){
  .primary.span9{
    width: auto;
  }
  #content{
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media(max-width: $mobile-top){
  [role="main"]{

    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
  }
  .primary.span9{
    background-color: #fff;
  }
  .module-content{
    padding: 0;
  }
  .toolbar{
    display: none;
  }
  .secondary.span3{
    float: left;
  }
}
