@import 'variables';
@import 'base_items';
@import 'footer';
/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */


.leaflet-draw-toolbar a {
  background-image: url('img/spritesheet.png');
  background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('img/spritesheet-2x.png');
  background-size: 270px 30px;
}



.account-masthead {
  height: 39px;
  background: none;
  background-color: #fff;
}

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #FCFCFC;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(105,115,124);
}

/* Transparent separator between links */
.account-masthead .account ul li {
  border-left: 2px transparent;
}

/* Links on a:hover. */
.account-masthead .account ul li a:hover {
  color: rgb(40, 40, 40);
  background-color: #FFFFFF;
}

/* The "dashboard" and number of notifiations background */
.account-masthead .account .notifications a:hover span {
  color: rgb(105,115,124);
  background-color: inherit;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.dwga-header-container {
  padding: 5px;
  background: none;
}

/* Invisible debug output for controller/action */
.debug {
  color: #FEFEFE;
}

.dwga-search {
  float: right;
}

/* Padding around logo and search */
.dwga-header-row {
  padding: 10px 0;
  margin-left: 0px;
}


.dwga-inlineblock {
  display: inline-block;
}

.dwga-title {
  margin-left: 15px;
}

.masthead {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background: none;
  background-color: #FCFCFC;
}


.dwga-header {
  color: #69737c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 134px;
  line-height: 27.09375px;
  margin-bottom: 0px;
  margin-left: 101px;
  margin-right: 101px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

/* Alignment of navigation */
.masthead .navigation, ul.nav {
  margin: 0px 0px 2px 0px;
}

/* Float the navbar left */
/* data.wa.gov.au floats left, here it looks better floating right */
.masthead .nav-collapse {
  float: left;
}

/* Navigation links on hover */
.masthead .navigation ul.nav li a:hover,
.masthead .navigation ul.nav li.active a {
  background: none;
  color: #69737c;
  text-decoration: none;
  box-shadow: rgb(105, 115, 124) 0px 2px 0px 0px;

}


/* Space the nav links (Dataset, Orgs, Groups) so the hover/active underline is separated */
.navbar .nav > li > a {
  margin-left: 2px;
}

/* The "box shadow" effect that appears around the search box when it
has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


.masthead a,
.masthead hgroup h2,
.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus,
.account-masthead .account .notifications a span {
  color: rgb(105,115,124);
  text-shadow: none;
  margin-left: 2px;
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

   /* Hide featured section */
.featured {visibility:hidden; height:0px;}

/* The background outside of the hero pane */
.hero, [role=main] {
  background:#FEFEFE;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(105,115,124);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: rgb(105,115,124);
  background-color: #FCFCFC;
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px;
}

a, a:active, a:hover, a:focus {
  color: rgb(32, 57, 157);
  text-decoration: none;
}

/* The box around featured orgs/groups */
.box {
  border:none;
}



@media(min-width: 1280px){
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container{
    width: 1280px;
    padding-left: 35px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .navbar.navbar-static-top.masthead,
  header.account-masthead,
  [role=main],
  .site-footer
  {
    margin-left: -15px;
  }
  #content{
    padding-left: 79px;
    padding-right: 130px;
  }

}
.paragraph-copyright{
  font-size: 17px;
  line-height: 1.3;
}
@media(max-width: 979px) and (min-width: 768px){
  .primary.span9{
    width: auto;
  }
  #content{
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media(max-width: 767px){
  [role="main"]{

    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
  }
  .primary.span9{
    background-color: #fff;
  }
  .module-content{
    padding: 0;
  }
}
