.site-footer,
body {
  background: #eff1f2;
  font-family: Arial;
  font-size: 16px;
  color: #565656;
  line-height: 1.59375em; }

/* ====================================
   The footer at the bottom of the site
   ==================================== */
.site-footer {
  padding-top: 33px; }
  .site-footer, .site-footer label, .site-footer small, .site-footer a {
    color: #565656;
    font-size: 15px; }
  .site-footer > .container .row {
    margin-bottom: 22px; }
  .site-footer .attribution {
    margin-left: 0; }
    .site-footer .attribution > a {
      margin-right: 20px; }
  .site-footer .inline-links {
    margin-bottom: 11px; }
    .site-footer .inline-links li {
      display: inline;
      text-decoration: underline; }
      .site-footer .inline-links li:after {
        content: '';
        border-right: 1px solid #565656;
        text-decoration: none;
        margin-right: 5px;
        margin-left: 10px; }
      .site-footer .inline-links li:last-child:after {
        border-right: none;
        margin-right: 0;
        margin-left: 0; }
  .site-footer .footer-wa-link-wrapper {
    position: relative; }
  .site-footer .footer-wa-link {
    position: absolute;
    left: 0;
    font-size: 25px;
    margin-top: 8px;
    margin-left: 22px; }
  .site-footer .without-margin {
    margin: 0; }
  .site-footer .row {
    margin-left: 0; }
  @media (max-width: 979px) {
    .site-footer {
      padding-top: 24px; }
      .site-footer .footer-links,
      .site-footer .attribution,
      .site-footer .footer-wa-link-wrapper,
      .site-footer .secondary-footer-links,
      .site-footer .without-margin {
        display: block;
        text-align: center;
        float: none;
        margin: auto;
        margin-bottom: 30px; }
      .site-footer .footer-links {
        width: auto; }
      .site-footer .attribution {
        text-align: center;
        width: 280px; }
        .site-footer .attribution label,
        .site-footer .attribution p {
          text-align: left; }
        .site-footer .attribution label {
          display: block; }
      .site-footer .footer-wa-link {
        position: static; }
      .site-footer .lang-select > * {
        float: none; }
      .site-footer .lang-select .lang-container {
        width: 280px !important;
        text-align: center; }
      .site-footer > .container .row {
        margin-bottom: 14px; }
      .site-footer .footer-wa-link {
        margin-left: 0; }
      .site-footer .paragraph-copyright {
        margin-top: 43px; } }

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */
.leaflet-draw-toolbar a {
  background-image: url("img/spritesheet.png");
  background-repeat: no-repeat; }

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url("img/spritesheet-2x.png");
  background-size: 270px 30px; }

.account-masthead {
  height: 39px;
  background: none;
  background-color: #fff; }

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #FCFCFC; }

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: #69737c; }

/* Transparent separator between links */
.account-masthead .account ul li {
  border-left: 2px transparent; }

/* Links on a:hover. */
.account-masthead .account ul li a:hover {
  color: #282828;
  background-color: #FFFFFF; }

/* The "dashboard" and number of notifiations background */
.account-masthead .account .notifications a:hover span {
  color: #69737c;
  background-color: inherit; }

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */
.dwga-header-container {
  padding: 5px;
  background: none; }

/* Invisible debug output for controller/action */
.debug {
  color: #FEFEFE; }

.dwga-search {
  float: right; }

/* Padding around logo and search */
.dwga-header-row {
  padding: 10px 0;
  margin-left: 0px; }

.dwga-inlineblock {
  display: inline-block; }

.dwga-title {
  margin-left: 15px; }

.masthead {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background: none;
  background-color: #FCFCFC; }

.dwga-header {
  color: #69737c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 134px;
  line-height: 27.09375px;
  margin-bottom: 0px;
  margin-left: 101px;
  margin-right: 101px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px; }

/* Alignment of navigation */
.masthead .navigation, ul.nav {
  margin: 0px 0px 2px 0px; }

/* Float the navbar left */
/* data.wa.gov.au floats left, here it looks better floating right */
.masthead .nav-collapse {
  float: left; }

/* Navigation links on hover */
.masthead .navigation ul.nav li a:hover,
.masthead .navigation ul.nav li.active a {
  background: none;
  color: #69737c;
  text-decoration: none;
  box-shadow: #69737c 0px 2px 0px 0px; }

/* Space the nav links (Dataset, Orgs, Groups) so the hover/active underline is separated */
.navbar .nav > li > a {
  margin-left: 2px; }

/* The "box shadow" effect that appears around the search box when it
has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7); }

.masthead a,
.masthead hgroup h2,
.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus,
.account-masthead .account .notifications a span {
  color: #69737c;
  text-shadow: none;
  margin-left: 2px; }

/* ===========================================
   The content in the middle of the front page
   =========================================== */
/* Hide featured section */
.featured {
  visibility: hidden;
  height: 0px; }

/* The background outside of the hero pane */
.hero, [role=main] {
  background: #FEFEFE; }

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none; }

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none; }

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: #69737c;
  background-color: white; }

/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: #69737c;
  background-color: #FCFCFC; }

/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px; }

.homepage .module-search {
  padding: 0px; }

/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px; }

a, a:active, a:hover, a:focus {
  color: #20399d;
  text-decoration: none; }

/* The box around featured orgs/groups */
.box {
  border: none; }

@media (min-width: 1280px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1280px;
    padding-left: 35px;
    padding-right: 20px;
    box-sizing: border-box; }

  .navbar.navbar-static-top.masthead,
  header.account-masthead,
  [role=main],
  .site-footer {
    margin-left: -15px; }

  #content {
    padding-left: 79px;
    padding-right: 130px; } }
.paragraph-copyright {
  font-size: 17px;
  line-height: 1.3; }

@media (max-width: 979px) and (min-width: 768px) {
  .primary.span9 {
    width: auto; }

  #content {
    width: auto;
    padding-left: 60px;
    padding-right: 60px; } }
@media (max-width: 767px) {
  [role="main"] {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px; }

  .primary.span9 {
    background-color: #fff; }

  .module-content {
    padding: 0; } }

/*# sourceMappingURL=datawagovautheme.css.map */
