@font-face {
    font-family: 'Arial';
    src: url('/fonts/arial/arial0.eot'); /* IE9 Compat Modes */
    src: url('/fonts/arial/arial0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/arial/arial0.woff2') format('woff2'), /* Modern Browsers */
        url('/fonts/arial/arial0.woff') format('woff'), /* Modern Browsers */
        url('/fonts/arial/arial0.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/arial/arial0.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBold';
    src: url('/fonts/arial/arialbd0.eot'); /* IE9 Compat Modes */
    src: url('/fonts/arial/arialbd0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/arial/arialbd0.woff2') format('woff2'), /* Modern Browsers */
        url('/fonts/arial/arialbd0.woff') format('woff'), /* Modern Browsers */
        url('/fonts/arial/arialbd0.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/arial/arialbd0.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

* { -webkit-hyphens: none; }

body {
  background: #eff1f2;
  font-family: Arial, sans-serif;
  font-size: $body-fz;
  color: $font-color;
  line-height: $body-lh;
}

label, input, button, select, textarea{
  font-size: $body-fz;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Open Sans", sans-serif;
  color: $h-color;
  font-weight: 600;
  line-height: $h-lh;
}
h5, h5{
  text-transform: uppercase;
}
h1{
  font-size: 35px;
}
h2{
  font-size: $h2-fz;
}
h3{
  font-size: $h3-fz;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 12px;
}
h6{
  font-size: 12px;
  font-style: italic;
}
a{
  color: $a-color;
  text-decoration: underline;
  &:hover{
    color: $a-hover-color;
  }
}

[role="main"]{
  padding-bottom: 0;
  .primary {
    padding-bottom: 20px;
  }
  ul{
    margin-left: 15px;
    &[class]{
      padding-left: 0;
    }
    li{
      line-height: $body-lh;
      ul li{
        list-style: square
      }
    }
  }
}

input{
  .search-form &{
    border-radius: 0;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
  &:focus{
    border-color: #95c677;
    box-shadow: inset 0 1px 1px #95c677, 0 0 8px #95c677;
  }
}

small{
  font-size: 13px;
}

.wrapper-datawa {
  position: relative;
  .btn {
    padding-top: 8px;
    padding-bottom: 7px;
    text-decoration: none;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid $btn-default-border;
    color: $h-color;
    font-size: 16px;
    background-image: none;
  }
  .btn-group > .btn {
    border-radius: 0;
  }
  .btn-success,
  .btn-primary {
    color: $fff;
    background-color: $btn-datawa-color;
    border-bottom: 3px solid $btn-dropshadow;
    &:hover {
      background-color: $btn-datawa-color-hover;
      border-bottom-color: $btn-dropshadow-hover;
    }
  }
  .btn-warning {
    background-color: $btn-color-grey;
    background-image: none;
    color: $h-color;
    text-shadow: none;
    border-bottom: 3px solid $btn-default-border;
    &:hover {
      background-color: $btn-default-hover;
      color: $h-color;
    }
  }
  .btn-mini {
    color: $h-color;
    border-bottom: 3px solid $btn-default-border;
  }
  .btn-danger {
    color: $fff;
    border-bottom: 3px solid $btn-danger-dropshadow;
  }
  .dropdown.btn-group {
    .btn.btn-primary {
      background-color: $btn-datawa-color;
      border-bottom: 3px solid $btn-dropshadow;
      &:hover {
          background-color: $btn-datawa-color-hover;
      }
      .caret {
          border-top-color: $fff;
      }
    }
  }
  .image-upload {
    .btn {
      border-bottom: 3px solid $btn-default-border;
      &:hover {
          color: $h-color;
      }
    }
    .btn-remove-url {
      border-bottom: 3px solid $btn-danger-dropshadow;
      text-decoration: none;
      border-radius: 0;
    }
  }
  .dataset-form {
    .form-actions {
      .btn {
        border-bottom: 3px solid $btn-default-border;
      }
      .btn-primary {
        border-bottom: 3px solid $btn-dropshadow;
      }
      .btn-danger {
        border-bottom: 3px solid $btn-danger-dropshadow;
      }
    }
    .image-upload {
        .controls {
            .btn-danger.btn-remove-url {
                padding-top: 0;
                padding-bottom: 0;
                &:hover {
                    color: $fff;
                }
            }
        }
    }
  }
  .module {
    .module-content{
      .btn {
        padding-top: 8px;
        padding-bottom: 7px;
        &.hover {
            color: $h-color!important;
        }
        .caret {
            border-top-color: $h-color;
        }
      }
      #followee-filter {
          .btn {
              padding-top: 6px;
              padding-bottom: 5px;
          }
      }
    }
    &.module-resource {
        .btn {
            color: $h-color;
        }
        .resource-url-analytics,
        .btn-success {
            color: $fff;
        }
        .resource-url-link {
            color: #20399d;
        }
        .nav-tabs-plain {
            min-height: 49px;
            li {
                margin-top: 10px;
            }
        }
    }
    .pagination {
      ul {
        li {
          a {
            margin-right: 10px;
            background-color: $fff;
            border-color: $pagination-border;
            color: $a-color;
            padding: 6px 11px 5px;
            &:hover {
              text-decoration: none;
              background-color: $btn-datawa-color;
              color: $fff;
            }
          }
          &:last-child,
          &:first-child {
            a {
              border-width: 1px;
            }
          }
          &.active {
            a {
              background-color: $btn-datawa-color;
              border-color: $btn-datawa-color;
            }
          }
          &.disabled {
            a {
              border-color: $pagination-border;
              color: $a-color;
              background-color: $fff;
              &:hover {
                  text-decoration: none;
                  background-color: $fff;
              }
            }
          }
        }
      }
    }
  }
  .page-header {
      .content_action {
          margin-top: -5px;
          margin-right: 10px;
          .btn {
              padding: 8px 22px 7px;
              color: $h-color;
              border-bottom-width: 3px;
          }
      }
  }
}

.wrapper {
    .module {
        .module-content {
            .page_primary_action,
            .form-actions {
                .btn {
                    border: 0;
                    padding-bottom: 7px;
                    padding-top: 8px;
                    font-size: 16px;
                    border-bottom: 3px solid $btn-dropshadow;
                }
            }
            .form-actions {
                .btn {
                    color: $h-color;
                    text-decoration: none;
                    border-bottom: 3px solid $btn-default-border;
                    border-radius: 0;
                    background-color: $btn-color-grey;
                    background-image: none;
                    &:hover {
                        background-color: $btn-default-hover;
                    }
                }
                .btn-primary {
                    color: $fff;
                    background-color: $btn-datawa-color;
                    border-bottom: 3px solid $btn-dropshadow;
                    &:hover {
                        background-color: $btn-datawa-color-hover;
                    }
                }
            }
            .controls {
                .slug-preview {
                    .btn-mini {
                        border-radius: 0;
                        border: 0;
                        color: $h-color;
                        background-color: $btn-color-grey;
                        border-bottom: 3px solid $btn-default-border;
                        background-image: none;
                        &:hover {
                            background-color: $btn-default-hover;
                        }
                    }
                }
            }
        }
    }
}
.btn-danger {
  color: $fff;
  background-color: $btn-danger-color;
  border-bottom: 3px solid $btn-danger-dropshadow;
  text-decoration: none;
  border-radius: 0;
  &:hover {
    background-image: none;
    background-color:$btn-danger-color-hover;
  }
}
