@import url(https://fonts.googleapis.com/css?family=Arimo);

body {
  background: #eff1f2;
  font-family: Arial;
  font-size: $body-fz;
  color: $font-color;
  line-height: $body-lh;
}

label, input, button, select, textarea{
  font-size: $body-fz;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Open Sans", sans-serif;
  color: $h-color;
  font-weight: 600;
  line-height: $h-lh;
}
h5, h5{
  text-transform: uppercase;
}
h1{
  font-size: 35px;
}
h2{
  font-size: $h2-fz;
}
h3{
  font-size: $h3-fz;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 12px;
}
h6{
  font-size: 12px;
  font-style: italic;
}
a{
  color: $a-color;
  text-decoration: underline;
  &:hover{
    color: $a-hover-color;
  }
}

[role="main"]{
  ul{
    // padding-left: 15px;
    margin-left: 15px;
    li{
      // list-style: circle;
      line-height: $body-lh;
      ul li{
        list-style: square
      }
    }
  }
}

input{
  .search-form &{
    border-radius: 0;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
  &:focus{
    border-color: #95c677;
    box-shadow: inset 0 1px 1px #95c677, 0 0 8px #95c677;
  }
}

small{
  font-size: 13px;
}
