.module-heading{
  font-size: $body-fz;
  background: #fbfbfc;
  line-height: $body-lh;
  border-bottom: 1px solid #eee;
  a{
    font-size: $h3-fz;
  }
  p a{
    font-size: $body-fz;
    -ms-word-break: break-all;
    word-break: break-all;
    word-wrap: break-word;
  }
  & > i{
    display: none;
  }
  .action{
    font-size: $body-fz;
    color: $a-color;
    font-weight: 300;
    line-height: $body-lh;
    &:hover{
      color: $a-hover-color;
    }
  }
}
.group-list .module-heading h3 a{
  @extend a;
}
.module-content:first-child{
  padding-top: 0;
}
.pill{
  background: $a-hover-color;
  a.remove{
    &:hover{
      color: #fff;
    }
  }
}
.toolbar{
  .breadcrumb{
    li{
      &:after{
        font-size: 14px;
      }
    }
    a{
      text-decoration: none;
      font-size: 14px;
      line-height: 1;
      color: $a-color;
      &:hover{
        text-decoration: underline;
        color: $a-hover-color;
      }
    }
    .active{
      a{
        color: #69737c;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .icon-home{
      &:before{
        content: "";
        background: url("/house.png") 50% 50% no-repeat;
        display: inline-block;
        width: 19px;
        height: 20px;
      }
    }
  }
}
.btn-primary, .btn-success{
  &, &:focus{

    border: none;
    @include landgate-primary;
    text-decoration: none;
    border-radius: 0;
    text-shadow: none;
  }
}

.search-form{
  h2{
    font-size: $h2-fz;
    color: $h-color;
    line-height: $body-lh;
  }
  .control-order-by {
    label, select{
      vertical-align: baseline;
    }
  }
  .search-input{
    &.search-giant{
      position: relative;
      input{
        border: 1px solid #c7cacd;
      }
      button{
        @include landgate-primary;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        height: auto;
        width: 100px;
      }
    }
  }
}



a.tag{
  color: #565656;
  text-decoration: none;
  &:hover{
    color: #fff;
    background: $a-hover-color;
    border: 1px solid #0d3454;
    box-shadow: none;
  }
}

ul.nav{
  margin-left: 0;
}
.nav-item{
  &.active{
    a{
      background: $a-hover-color;
      &:before{
        background-image: url("/nav-active.png");
        background-repeat: no-repeat;
      }
      &:hover:before{
        display: none;
      }
    }
  }
  & > a{
    color: $font-color;
    .nav &:hover{
      text-decoration: underline;
      color: $a-color;
      background: #f5f5f5;
    }
  }
}
.nav-aside{
  li{
    &.active{
        a{
          background: $a-hover-color;
          &:before{
            background-image: url("/nav-active.png");
            background-repeat: no-repeat;
          }
          &:hover:before{
            display: none;
          }
        }

      }
  }
}

.module {
  div.api-info-section{
    padding-bottom: 20px;
  }
  .read-more{
    font-size: $body-fz;
    color: $a-color;
    font-weight: 300;
    &:hover{
      color: $a-hover-color;
    }
  }
  .pagination{
    padding-top: 25px;
    ul{
      li{
        &.disabled a,
        a{
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          color: $a-color;
          &:hover{
            color: $a-hover-color;
            text-decoration: underline;
          }
        }
        &.active a{
          border: 1px solid #7bb855;
          color: #fff;
          background: #95c677;
          pointer-events: none;
        }
      }
    }
  }
}
.module-content{
  padding-left: 0;
  padding-right: 0;
}
.module-narrow{
  .nav-item{
    a{
      padding-left: 10px;
      padding-right: 10px;
      font-size: $body-fz;
      text-decoration: none;
    }
  }
  .module-footer, .module-heading{
    padding-left: 10px;
    padding-right: 10px;

  }
}
.content_action{
  .btn{
    border: none;
    @include landgate-default;
    background: #f5f6f7;
    font-size: $body-fz;
    text-decoration: none;
    border-radius: 0;
    padding: 5px 22px;
  }
}

.api-info-section{
  line-height: 1;
}

.page-header{
  background: #fff;
}
