.dataset-item{
  border-bottom: 1px dotted #efefef;
  .dataset-heading{
    font-size: $h3-fz;
    a{
      color: $a-color;
      text-decoration: none;
      &:hover{
        color: $a-hover-color;
      }
      &:hover,
      &:focus {
          text-decoration: underline;
      }
    }
  }
  .dataset-resources{
    a{
      text-decoration: none;
    }
  }
  .dataset-item-access-level {
    width: 30px;
    height: 30px;
    position: relative;
    top: -2px;
  }
}
ul.dataset-list{
  margin-left: 0;
}
.context-info {
  h1.heading{
    hyphens: none;
    word-break: break-word;
  }
}

.resource-level-res {
  margin: 20px 0;
  .resource-access-level-icon {
    width: 32px;
  }
  .resource-access-level-icon, .access-level-text {
    display: inline-block;
  }
}

.wrapper-datawa {
    h1.dataset-title {
        hyphens: none;
        word-break: break-word;
    }
    #dataset-map {
        .module-heading,
        #dataset-map-attribution div {
            @include langate-link-decoration;
        }
    }
}

.page-header {
  @media(max-width: $mobile-top + 1px){
    .content_action{
      float: none;
      text-align: right;
      margin-bottom: 10px;
      margin-right: 2px;
    }
    .nav-tabs {
      margin: 0;
      float: none;
      a{
        border: 1px solid #ddd;
      }
    }
  }
  .nav-tabs {
    li{
      a{
        color: $a-color;
        border-radius: 0;
        text-decoration: none;
        &:hover{
          color: $a-hover-color;
          background: $grey-f3;
          border: 1px solid $grey-e5;
        }
      }
      &.active{
        a{
          &, &:hover{
            color: #69737c;
          }
          &:hover{
            background: #fff;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}
.module-content{
  .label{
    &.label-inverse{
      @include landgate-label-gray;
      border-radius: 0;
      padding: 11px 32px;
    }
  }
  .media-grid.masonry {
      margin: 0;
  }
  .dataset-title {
    margin-top: 0px;
  }
  .dataset-private {
    margin-top: 14px;
    margin-right: 10px;
  }
  .label-private {
    background-color: #333333;
    font-family: Arial, sans-serif;
  }
}
.tags .tag-list{
  margin-left: 0;
}
.resources{
  .resource-list{
    margin-left: 0;
  }
  .resource-item{
    @media(max-width: $tablet-top){
      padding-bottom: 60px;
    }
    .heading{
      color: $a-color;
      font-size: $body-fz;
      &:hover, &:active{
        color: $a-hover-color;
      }
    }
    .description{
      font-size: 14px;
    }
    .dropdown{
      @media(max-width: $tablet-top){
        // position: relative;
        top: 65px;
        // left: -75px;
        // right: 0;
        left: 0;
        // width: 100%;
        & > a{
          // width: 100%;
          position: absolute;
          right: 0;
          left: 0;
        }
        &.open{
          .dropdown-menu{
            margin: 0;
            top: 42px;
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
      @media(max-width: $mobile-top + 1px){
        display: block;
      }
      a{
        border-radius: 0;
        padding: 10px 32px;
        font-size: $body-fz;
        background-color: $btn-datawa-color;
      }
      &.open{
        a{
          background: $btn-datawa-color;
        }
        ul{
          margin-left: 0;
          border-radius: 0;
          li{
            list-style: none;
            a{
              background: #fff;
              color: $a-color;
              text-decoration: none;
              &:hover{
                background: $btn-datawa-color;
                color: $a-dropdown-color;
              }
            }
          }
        }
      }
      .icon-share-alt:before{
        content: '';
        background: url("/drop-arrow-icon.png") 50% 50% no-repeat;
        width: 19px;
        height: 11px;
      }
    }
  }
}
.additional-info{
  .table, .table-striped{
    border:{
      left: none;
      right: none;
      radius: none;
      top: 1px solid #efefef;
      bottom: 1px solid #efefef;
    }
    thead{
      th, td{
        width: 100%;
        &:first-child{
          width: 190px;
          @media(max-width: $tablet-top){
            width: 100px;
          }
        }
      }
    }
    th, td,
    tbody tr td, tbody tr th{
      padding:{
        top: 20px;
        bottom: 20px;
      }
      border:{
        left: none;
        right: none;
        top: 1px solid #efefef;
      }
      background: #fff;
    }
  }
}

.datawa-datasets {
  padding-top: 5px;
  padding-bottom: 0;
  .wrapper-datawa {
    #dataset-map {
      margin-bottom: 35px;
      .module-heading {
        border-bottom: 2px solid $facet-border;
        padding-bottom: 4px;
        background: $aside-span3-bg;
        a {
          position: relative;
          top: 25px;
          text-transform: capitalize;;
        }
      }
      .spatial-filter-location {
        display: inline-block;
        width: 80px;
        text-transform: uppercase;
        color: $facet-title-color-text;
        font-weight: 600;
      }
    }
    .filters {
      .module {
        margin: 23px 0;
      }
      .nav-simple > li {
        border-bottom-color: $facet-dotted-border-color;
      }
      .module-footer {
        border-top: 1px dotted $facet-dotted-border-color;
      }
      .nav-facet {
        background: $nav-facet-bg;
        .nav-item > a {
          color: $nav-item-a-color;
          &:hover {
            color: $a-hover-color;
            background: $grey-ea;
          }
        }
        .nav-item {
          &.active {
            a {
              color: $fff;
              &:hover {
                color: $a-hover-color;
              }
            }
          }
        }
      }
      .read-more {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .api-info-section {
      @include langate-link-decoration;
  }
  .media-grid {
    .media-item {
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}
.datawa-datasets,
.datawa-dataset-read {
    .span9,
    .span3 {
        padding-top: 24px;
    }
}

.datawa-org-read,
.datawa-group-read,
.datawa-dataset-read {
    padding-bottom: 0;
    .wrapper-datawa {
        .additional-info {
            margin-top: 30px;
            thead {
                th {
                    background: $ad-info-bg;
                    text-transform: uppercase;
                    &:first-child {
                        padding-left: 10px;
                    }
                }
            }
            .table-bordered {
                thead:first-child {
                    tr:first-child > th:first-child,
                    tr:first-child > th:last-child {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

@-moz-document url-prefix() {
    .datawa-dataset-read {
        .wrapper-datawa {
            .span3 {
                .context-info {
                    h1.heading {
                        word-wrap: break-word;
                        word-break: normal;;
                    }
                }
            }
        }
    }
}

.dataset-map-expanded {
    .datawa-datasets {
        .wrapper-datawa {
            #dataset-map {
                h2.module-heading {
                    .spatial-filter-location {
                        width: auto;
                    }
                    a {
                        top: 0px;
                    }
                }
            }
        }
    }
}

.datawa-dataset-read {
    .wrapper-datawa {
        .resources .resource-item .dropdown a,
        .follow_button a {
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}


@media (max-width: $tablet-top){
  .js{
     [role=main] .secondary .filters {
          display: none;
          position: fixed;
          overflow: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          padding: 10px;
          background-color: #000000;
          background-color: rgba(0,0,0,0.5);
      }

     .show-filters.btn{
      border: none;
      @include landgate-primary;
      border-radius: 0;
      text-shadow: none;
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 12px 10px;
      font-size: 16px;
    }
    body.filters-modal{
      .secondary .filters .hide-filters {
        text-decoration: none;
        i{
          font-size: 28px;
        }
      }
      .secondary .filters {
          display: block;
          & > div{
            background: #fff;
          }
      }

      .secondary .filters .hide-filters {
          display: inline-block;
          position: absolute;
          top: 14px;
          right: 17px;
          opacity: 0.6;
      }
    }
  }
}

.form-horizontal {
    .info-block {
	a {

	}
    }
    .control-group {
	.select2-container {
	    width: 320px! important;
	}
	.controls {
	    a {
		font-size: 1em;
	    }
	}
    }
}
