.account-masthead {
  height: 39px;
  background: #fcfcfc;
  background-color: #fcfcfc;
  .account {
    margin-top: 10px;
    /* left: 20px; */
    position: relative;
    /* The "bubble" containing the number of new notifications. */
    .notifications{
      a {
        span {
          background-color: #FCFCFC;
        }
        /* The "dashboard" and number of notifiations background */
        &:hover span {
          color: rgb(105,115,124);
          background-color: inherit;
        }
      }
    }
    /* Transparent separator between links */
    ul li {
      border-left: 2px transparent;
      /* The text and icons in the user account info. */
      a {
        font: 15px "Arial", sans-serif;
        padding: 0px 8px;
        color: #565656;
        text-decoration: none;
        &:hover {
          color: #565656;
          background-color: #fcfcfc;
          text-decoration: underline;
        }
      }
    }
  }
  .container {
    margin-right: 71px;
  }
}



/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.dwga-header-container {
  padding: 5px;
  background: none;
}

/* Invisible debug output for controller/action */
.debug {
  color: #FEFEFE;
}

/* Padding around logo and search */
.dwga-header-row {
  padding: 10px 0;
  margin-left: 0px;
}


.dwga-inlineblock {
  display: inline-block;
}

.container-header .navbar .nav-collapse nav ul.nav li a.btndropresponsive {
  display: none;
}

.dwga-title {
  margin-left: 15px;
  display: block;
  float: left;
  h1 {
    padding-left: 13px;
    font-size: 35px;
    line-height: 1.25em;
    margin: 5px 0 15px;
    color: $link-hover-color;
    float: none !important;
    a {
      color: $link-hover-color;
      text-decoration: none;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  h3 {
    font-size: 20px;
    line-height: 1.25em;
    margin: 5px 0 15px;
    color: $link-hover-color;
  }
}

.dwga-header {
  color: $link-hover-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 134px;
  line-height: 27.09375px;
  margin-bottom: 0px;
  margin-left: 101px;
  margin-right: 101px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.dwga-logo {
  margin-top: -2px;
  float: left;
  padding-left: 20px;
}

.dwga-search {
  float: right;
  .site-search .field {
    button{
      &[type="submit"] {
        font-size: 18px;
        width: 21%;
        height: 44px;
        color: #fff;
        border: none;
        background: #999;
        float: right;
        font-family: 'ready-steady-gov';
        background: #95c677;
        top: 10px;
        right: -34px;
        box-shadow: inset 0 -2px 0 #7bb855;
        margin-top: -13px;
        margin-right: 7px;
      }
      .icon-search:before {
        font-size: 19px;
      }
    }
  }
}




.masthead {
  background: none;
  background-color: #FCFCFC;
  height: 202px;
  &:before {
    position: relative;
    border-top: 1px solid #efefef;
    width: 9999px;
    right: 4500px;
  }
  .site-search input {
    height: 34px;
    width: 351px;
    border-color: #c7cacd;
    font-family:"Open Sans";
    font-size: 15px;
    color: #565656;
    margin-left: 0;
    border-radius: 0;
    margin-top: -3px;
    &::-webkit-input-placeholder {
      color: #565656;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: #565656;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #565656; 
      opacity: 1;
    }
    &:-moz-placeholder {
      color: #565656;   
      opacity: 1;
    } 
  }
  hgroup h1 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0px;
  }
  hgroup h3 {
    margin-top: 11px;
    margin-left: 12px;
    font-size: 28px;
    letter-spacing: -0.1px;
  }
  /* Float the navbar left */
  /* data.wa.gov.au floats left, here it looks better floating right */
  .nav-collapse {
    float: left;
    padding-top: 14px;
    width: 100%;
    &.collapse {
      height: 0;
    }
  }
  /* Alignment of navigation */
  .navigation, ul.nav {
    margin: 0px 0px 2px 0px;
    padding-bottom: 1px;
    /* margin-bottom: 8px; */
  }
  .navigation ul.nav li ul.dropdown-menu {
    display: block;
    position: absolute;
    height: 111px;
    width: 100%;
    box-shadow: none;
    top: 88px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 0;
    border-top: 20px solid transparent;
    box-sizing: content-box;
    margin-top: -57px;
    padding-top: 25px;
    &:before {
      display: block;
      content: "";
      position: absolute;
      background: #f5f6f7;
      border-bottom: 0;
      top: 0;
      bottom: 0;
      left: -4000px;
      width: 9999px;
      z-index: -1;
    }
  }
  
  .navigation ul.nav li {
    a {
      font-size: 15px ;
      color: $link-hover-color;
      font-family: "Open Sans";
      font-weight: 600;
      padding-right: 27px;
      padding-left: 27px;
      margin-left: 6px;
      margin-right: 0px;
      margin-bottom: -2px;
      letter-spacing: -0.2px;
    }
    &:nth-child(2) {
      box-shadow: $link-hover-color 0px 2px 0px 0px;
      a.btndropdesctop {
        padding-bottom: 8px;
      }
    }
    ul.dropdown-menu li:nth-child(2) {
      box-shadow: none;
    }
    a:hover,
    &.active a{
      background: none;
      color: $link-hover-color;
      box-shadow: none;
    }
    &.active {
      background: none;
      box-shadow: $link-hover-color 0px 2px 0px 0px;
      &:hover {
        box-shadow: 0;
      }
    }
    &:hover {
      background-color: #f5f6f7;
      box-shadow: none;
      border-bottom: 2px solid $link-hover-color;
      color: $link-hover-color;
    }
    & ul.dropdown-menu li {
      margin-top: 10px;
      /* background-color: #f5f6f7; */
      &.active {
        background: none;
        box-shadow: $link-hover-color 0px 2px 0px 0px;
        &:hover {
          box-shadow: none;
        }
      }
    }
    & ul.dropdown-menu li a {
      font-size: 15px ;
      color: $link-hover-color;
      font-family: "Open Sans";
      font-weight: 600;
      padding-right: 0;
      padding-left: 0;
      margin-left: 27px;
      margin-right: 27px;
      margin-bottom: -2px;
      &:hover {
        margin-bottom: 0px;
      }
      &:focus {
        background: none;
      }
    }
  }
  input[type="text"]:focus {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  }
}

.navbar{
  .nav.dropdown-menu {
    display: none;
  }

  .nav>.active>a {
    box-shadow: none;
    background: none;
  }

  .nav > li > a {
    padding: 9px 0px 10px 0px;
    color: $link-hover-color;
    margin-left: 2px;
    &:hover {
      padding-bottom: 8px;
    }
  }

  .nav>li>.dropdown-menu:before,
  .nav>li>.dropdown-menu:after {
    display: none;
  }
}

.masthead .nav-collapse ul.nav.nav-secondary {
    display: none;
    li a {
      padding: 0;
    }
  }

@media (min-width: $hd-top + 1) {
  body {
    background-color: #fcfcfc;
  }
  .account-masthead {
    width: 1280px;
    margin: 0 auto;
    .container {
      width: 100%;
    }
    .account {
      left: 20px;
    }
  }
  .account-masthead.container-header,
  .container-header {
    width: 1280px;
    margin: 0 auto;
  }
  .container-header {
    margin-bottom: 140px;
    .container {
      width: 100%!important;
      padding-right: 0!important;
      padding-left: 0!important;
    }
  }
  .navbar.navbar-static-top.masthead {
    .container {
      hgroup {
        h1 {
          font-size: 35px;
          font-weight: 600;
          letter-spacing: 0px;
        }
        h3 {
          margin-top: 11px;
          margin-left: 12px;
          font-size: 28px;
          letter-spacing: -0.1px;
        }
        .dwga-search {
          padding-right: 0px;
          .site-search .field {
            left: -21px;
          }
        }
        .dwga-logo {
          padding-left: 0;
          margin-left: 40px;
        }
      }
      .nav-collapse {
        padding-top: 14px;
        nav.navigation {
          margin-left: 14px;
          ul.nav {
            li a {
              letter-spacing: -0.2px;
            }
            li:first-child {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  .masthead .navigation ul.nav li a {
      letter-spacing: -0.1px;
  }
}

@media (min-width: $wide-top + 1) and (max-width: $hd-top) {
  body {
    background-color: #fcfcfc;
  }
  header.account-masthead.container-header {
    width: 1060px;
    margin: 0 auto;
  }
  .account-masthead {
    .container {
      width: 100%;
    }
  }
  .container-header {
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 140px;
    .container {
      width: 100%!important;
      padding-right: 0!important;
      padding-left: 0!important;
    }
    hgroup {
      .dwga-logo {
        padding-left: 0;
      }
      .dwga-search {
        .site-search .field {
          left: -4px;
          button[type="submit"] {
            top: 12px;
            right: -20px;
          }
          input {
            width: 310px;
            margin-top: -1px;
          }
        }

      }
    }
  }
  .masthead .navigation {
    margin-left: -8px;
  }
}

@media (min-width:1101px) and (max-width: $wide-top) {
  body {
    background-color: #fcfcfc;
  }
  header.account-masthead.container-header {
    width: 1060px;
    margin: 0 auto;
  }
  .account-masthead {
    .container {
      width: 100%;
    }
  }
  .container-header {
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 140px;
    .container {
      width: 100%
    }
  }
  .masthead .site-search input {
    width: 314px;
  }
  .dwga-search .site-search .field button[type="submit"] {
    right: -16px;
  }
  .dwga-logo {
    padding-left: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
   body {
    background-color: #fcfcfc;
  }
  .dwga-logo {
    padding-left: 0px;
  }
  .masthead .site-search .field {
    input {
      width: 226px;
    }
    button[type="submit"] {
      width: 22%;
    }
  }
  .masthead hgroup {
    h1 {
      font-size: 35px;
    }
    h3 {
      font-size: 28px;
      margin-top: 10px;
      margin-left: 11px;
    }
  }
  .container-header .container .dwga-search .site-search .field {
    right: 19px;
  }
  .navbar-static-top .container {
    width: 860px;
    margin: 0 auto;
    margin-bottom: 131px;  
  }
  header.account-masthead.container-header {
    width: 860px;
    margin: 0 auto;
  }
  .account-masthead {
    .container {
      width: 100%;
    }
  }
  .container-header {
    width: 860px;
    margin: 0 auto;
    margin-bottom: 131px;
    .container {
      width: 100%
    }
  }
  .masthead .navigation ul.nav li ul.dropdown-menu,
  .masthead .navigation ul.nav li:hover ul.dropdown-menu  {
    top: 91px;
  }
  .masthead {
    height: 276px;
    .navigation {
      margin-left: 0px;
      margin-top: 13px;
      ul.nav li a {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .site-search input {
      width: 226px;
      padding-left: 15px;
      letter-spacing: 0.9px;
    }
  }
  .navbar.navbar-static-top.masthead {
    .container {
      hgroup {
        .dwga-search {
          padding-right: 0px;
        }
      }
    }
  }
}

@media (min-width: $tablet-top + 1) and (max-width: 1024px) {
  body {
    background-color: #fcfcfc;
  }
  .account-masthead {
    width: 860px;
    margin: 0 auto;
    .container {
      width: 100%;
    }
  }
  .account-masthead.container-header,
  .container-header {
    width: 860px;
    margin: 0 auto;
  }
  .container-header {
    margin-bottom: 181px;
    .container {
      width: 100%;
    }
  }
  .masthead .site-search input {
    width: 228px;
  }
  .masthead .navigation {
    margin-left: 27px;
  }
  .masthead .navigation ul.nav li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* @media(max-width: $tablet-top) and (min-width: $mobile-top + 1){
  .container-header .navbar .nav-collapse nav ul.nav li a.btndropresponsive {
    display: block;
  }
  .container-header .navbar .nav-collapse nav ul.nav li a.btndropdesctop {
    display: none;
  }
  .container-header{
    width: 660px;
    margin-right: auto;
    margin-left: auto;
  }
  .masthead hgroup .dwga-title h3 {
    margin-left: 8px;
    font-size: 27px;
  }
  .masthead .nav-collapse.in.collapse, .collapse {
    margin-top: 64px;
  }
  .navbar .nav > li > a {
    padding: 10px 0px 10px 0px;
  }
  .dropdown-menu {
    top: 8px;
  }
} */

@media (min-width: $mobile-top + 1) and (max-width: $tablet-top) {
  body {
    background-color: #fcfcfc;

  }
  [role=main] {
    z-index: -1;
    padding-top: 20px;
  }
  .account-masthead .account {
    left: 20px;
  }
  .container-header .navbar .nav-collapse nav ul.nav li a.btndropresponsive {
    display: block;
  }
  .container-header .navbar .nav-collapse nav ul.nav li a.btndropdesctop {
    display: none;
  }
  .container-header{
    width: auto;
  }
  .account-masthead {
    .account.not-authed ul li:nth-child(n+3) {
      display: none;
    }
  }
  .masthead .container {
    padding-left: 0;
    padding-right: 0;
    background: #69737c;
    .nav-collapse ul.nav.nav-secondary {
      background-color: #fcfcfc;
      display: block;
      box-sizing: border-box;
      padding-top: 7px;
      padding-bottom: 22px;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;
      li {
        margin-left: 44px;
        padding-top: 4px;
      }
      li:hover, li a:hover {
        background-color: #fcfcfc;
        cursor: pointer;
      }
      li a {
        font-size: 15px ;
        color: $link-hover-color;
        font-family: "Open Sans";
        font-weight: 600;
        letter-spacing: -0.6px;
      }
    }
  }

  hgroup {
    background-color: #FEFEFE;
    padding-right: 0px;
    margin-right: 0px;
  }

  .masthead {
    border-bottom: 0;
    .section {
      float: none;
      padding-bottom: 15px;
    }
    .nav-collapse {
      padding-top: 0;
      height: auto;
      top: 0;
    }
    .site-search {
      display: block;
    }
  }
  .masthead .navigation ul.nav li {
    background-color: #69737c;
    &.active a, a {
      color: #fff;
      padding-left: 46px;
      padding-bottom: 0px;
    }
    &:hover,
    &.children-active:hover {
      border-bottom: 0;
      background-color: #69737c;
    }
    &.children-active a, a:hover {
      color: #fff;
    }
    ul.nav.dropdown-menu {
      position: relative;
      height: auto;
      border-top: 0;
      top: 6px;
      margin-top: 0;
      margin-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      box-sizing: border-box;
      border-right: 20px solid #69737c;
      border-left: 20px solid#69737c;
      &.collapse li.active {
        background-color: #fcfcfc;
      }
      &.in.collapse li.active {
        background-color: #fcfcfc;
      }
      &.collapse {
        height: 0;
      }
      li, li:hover {
        background-color: #fcfcfc;
      }
      li {
        margin-top: 0px;
        padding-left: 15px;
        a {
          padding: 0;
          padding-bottom: 8px;
        }
      }
    }
    ul.dropdown-menu:before {
      background: none;
    }
    ul.dropdown-menu li:last-child {
      padding-bottom: 0px;
    }
  }
  .simple-input .field {
    padding: 20px 15px 20px 15px;
    background: #69737c;
    position: absolute;
    top: 79px;
    right: -30px;
    width: 100%;
    border: none;
    display: inline-block;
    margin-top: 30px;
  }

  .dwga-search .site-search .field button[type="submit"] {
    font-size: 18px;
    width: 16%;
    height: 45px;
    color: #fff;
    border: none;
    float: right;
    margin-right: 0;
    font-family: 'ready-steady-gov';
    background: #95c677;
    top: 29px;
    right: 47px;
  }

  .masthead hgroup h1 {
    margin-top: 6px;
    margin-left: -5px;
    letter-spacing: 0px;
    background: none;
    min-height: 0px;
  }

  .masthead .site-search input {
    padding-top: 5px;
    padding-left: 9px;
    margin-right: -40px;
    height: 32px;
    font-size: 16px;
    width: 80%;
  }

  .dwga-title {
    margin-bottom: 17px;
  }

  .dgwa-logo {
    padding-left: 20px;
    margin-top: 0;
  }

  .dwga-logo .logo img {
      width: 80px;
      height: 78px;
  }

  .masthead hgroup .dwga-title h3 {
    margin-top: 11px;
    font-size: 27px;
  }

  .dwga-search {
    padding-right: 0px;
    float: right;
    margin-right: -6px;
    margin-top: 23px;
    width: 100%;
  }

  #dwga-header-container .btn.btn-navbar .icon-bar {
    margin-top: -9px;
    height: 3px;
    margin-left: -6px;
    width: 19px;
  }
  #dwga-header-container button.btn.btn-navbar {
    padding-left: 22px;
    padding-top: 30px;
    margin-left: 25px;
    padding-right: 20px;
    padding-bottom: 3px;
    margin-right: 20px;
    margin-top: 20px;
    height: 49px;
    width: 48px;
    border-radius: 0;
    background-color: #69737c;
    box-shadow: 0 2px 0 #44505b;
  }
  .dwga-search .site-search .field button .icon-search:before {
    margin-left: 4px;
    font-size: 20px;
    padding-bottom: 6px;
  }
  .account-masthead {
    margin-right: -42px;
  }
  .masthead .nav-collapse.in.collapse,
  .masthead .nav-collapse.collapse {
    margin-top: 36px;
  }
  .masthead ul.nav {
    margin-bottom: 8px;
  }
}

@media (max-width: $mobile-top) {
  body {
    background-color: #fcfcfc;
    padding-left: 0;
    padding-right: 0;
  }
  [role="main"] {
    z-index: -1;
    padding-top: 20px;
  }
  .homepage [role="main"] {
    padding-top: 20px; 
  }
  .homepage {
    padding-left: 20px; 
    padding-right: 20px;
  }
  .account-masthead .container {
      margin-right: 0;
    }
  .account-masthead {
    .account {
      left: 20px;
    }
    .account.not-authed ul li:nth-child(n+3) {
      display: none;
    }
  }
  .container-header .navbar .nav-collapse {
    top: 20px;
    padding-top: 30px;
    nav ul.nav li {
      a.btndropresponsive {
        display: block;
      }
      a.btndropdesctop {
        display: none;
      }
    }
  }
  .masthead .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .masthead .navigation ul.nav li:hover {
    background-color: #69737c;
  }
  .masthead .navigation ul.nav li a:hover {
    color: #fefefe;
  }
  .masthead .navigation {
    padding-bottom: 15px;
    background: #69737c;
  }
  .masthead .navigation ul.nav li {
    background-color: #69737c;
    a {
      color: #fefefe;
      padding-left: 46px;
      padding-bottom: 0px;
    }
    ul.nav.dropdown-menu {
        position: relative;
        height: auto;
        border-top: 0;
        top: 6px;
        margin-top: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        border-right: 20px solid #69737c;
        border-left: 20px solid #69737c;
        li {
          padding-left: 15px;
        }
    }
    &.collapse {
      height: 0;
    }
  }
  .masthead .navigation ul.nav li ul.nav.dropdown-menu.collapse {
    height: 0;
  }
  #dwga-header-container button.btn.btn-navbar {
    height: 47px;
    padding-bottom: 5px;
    padding-top: 33px;
    padding-left: 22px;
    margin-left: 25px;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 48px;
    border-radius: 0;
    background-color: #69737c;
    box-shadow: 0 2px 0 #44505b;
  }

  #dwga-header-container .btn.btn-navbar .icon-bar {
    margin-top: -9px;
    height: 3px;
    margin-left: -6px;
    width: 19px;
  }
  .dwga-logo {
    margin-top: -4px;
    padding-left: 20px;
  }
  .dwga-title h1 a {
    font-size: 16px;
  }
  .dwga-search {
    padding-right: 0px;
    float: right;
    margin-right: -6px;
    margin-top: 23px;
    width: 100%;
  }
  .masthead .site-search {
    display: block;
  }
  .simple-input .field {
    padding: 20px 15px 20px 15px;
    background: #69737c;
    position: absolute;
    top: 79px;
    right: -30px;
    width: 100%;
    border: none;
    display: inline-block;
    margin-top: 30px;
  }
  .masthead .site-search input {
    width: 80%;
  }
  .dwga-search .site-search .field button[type="submit"] {
    height: 45px;
    top: 29px;
    right: 39px;
  }
  .masthead hgroup h1 {
    margin-top: 5px;
    margin-left: -19px;
  }
  .masthead hgroup h3 {
    font-size: 8px;
    margin-top: 6px;
    margin-left: -6px;
    letter-spacing: 0.1px;
  }
  .account-masthead {
    .account.not-authed {
      margin-right: 15px;
    }
  }
  .container-header .masthead .container .nav-collapse {
    ul.nav li ul.dropdown-menu li:last-child {
      margin-bottom: 0;
    }
  }
  .masthead .navigation ul.nav li ul.dropdown-menu li.active {
    background: #fefefe;
    box-shadow: none;
    &:focus {
      background: #fefefe;
    }
  }
  .masthead .navigation ul.nav li ul.nav.dropdown-menu.in.collapse li.active {
    background: #fefefe;
  }
  .masthead .navigation ul.nav li ul.dropdown-menu li {
    background: #fefefe;
    margin-top: 0;
    a {
      padding-bottom: 8px;
      padding-top: 0;
      color: #69737c;
    }    
  }
  .masthead .navigation ul.nav li ul.dropdown-menu:before {
    background: #69737c;
  }
  .masthead .nav-collapse ul.nav.nav-secondary {
    display: block;
  }
  .masthead .container .nav-collapse ul.nav.nav-secondary {
    background-color: #fcfcfc;
    display: block;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 22px;
    margin-bottom: 0px;
    border-bottom: 1px solid #efefef;
}
.masthead .container .nav-collapse ul.nav.nav-secondary li {
    margin-left: 44px;
    padding-top: 4px;
}
.masthead .container .nav-collapse ul.nav.nav-secondary li a {
  font-size: 15px;
  color: #69737c;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: -0.6px;
  }
}

@media (max-width: 385px) {
  [role="main"] {
    z-index: -1;
    padding-top: 20px;
  }
  .homepage [role="main"] {
    padding-top: 20px; 
  }
  .masthead hgroup h1 {
    margin-top: -54px;
    margin-left: -19px;
  }
}


