.account-masthead{
  background: #FEFEFE;
  .account{
    height: 39px;
    box-sizing: border-box;
    padding: {
      top: 12px;
      bottom: 12px;
    }
    ul{
      li{
        border: none;
        &:hover{
          a{
            background: none;
            color: $font-color;
            text-decoration: underline;
          }
        }
        a{
          padding: {
            left: 8px;
            right: 8px;
          }
          text-decoration: none;
          font: {
            size: 0.9em;
            family: Arial, sans-serif;
            weight: normal;
          }

          line-height: 15px;
          color: $font-color;
        }
      }
    }
  }
}

.masthead{
  background: #fcfcfc;
  border: {
    top: 1px solid #efefef;
    bottom: 1px solid #efefef;
  }
  #dwga-header-container{
    height: 204px;
    .dwga-logo{
      width: 102px;
      height: 102px;
      margin: {
        left: 20px;
        top: 8px;
      }
      float: left;
      background: url("/Logo_n.png") 50% 50% no-repeat;
      &:hover{
        background: url("/Logo_r.png") 50% 50% no-repeat;
      }
      .logo{
        display: none;
      }
    }
    .dwga-title{
      max-width: 50%;
      h1{
        float: none;
        font: {
          size: $h1-fz;
          weight: 600;
        }
        line-height: $h-lh;
        a{
          color: $h-color;
          text-decoration: none;
        }
      }
      h3{
        display: inline-block;
        font-size: 28px;
      }
      h1, h3{
        margin: 15px 0 15px 20px;;
      }
    }
    .dwga-search{
      float: right;
      margin-top: 10px;
      margin-right: 20px;
      .site-search{
        width: 337px;
        height: 44px;
        float: right;
        margin: 0;
        .field{
          input{
            box-sizing: border-box;
            border: 1px solid #c7cacd;
            border-radius: 0px;
            height: 42px;
            width: 320px;
            padding: 0 5px;
            margin: 0;
            font: {
              family: "Open Sans", sans-serif;
              size: 14px;
            }
            color: $font-color;
          }
          .btn-search{
            @include landgate-primary;
            display: block;
            top: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            height: auto;
            width: 100px;
            i{
              font-size: 28px;
            }
          }
        }
      }
    }
    .navigation{
      .nav{
        li{
          display: inline-block;
          a{
            color: $h-color;
          }
        }
      }
      .header-child-menu{
        display: none;
      }
    }
  }
}
