.account-masthead {
  height: 39px;
  background: none;
  background-color: #fff;
  .account {
    margin-top: 10px;
    /* The "bubble" containing the number of new notifications. */
    .notifications{
      a {
        span {
          background-color: #FCFCFC;
        }
        /* The "dashboard" and number of notifiations background */
        &:hover span {
          color: rgb(105,115,124);
          background-color: inherit;
        }
      }
    }
    /* Transparent separator between links */
    ul li {
      border-left: 2px transparent;
      /* The text and icons in the user account info. */
      a {
        font: 15px "Arimo", sans-serif;
        padding: 0px 8px;
        color: #565656;
        text-decoration: none;
        &:hover {
          color: #565656;
          background-color: #FFFFFF;
          text-decoration: underline;
        }
      }
    }
  }
}



/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.dwga-header-container {
  padding: 5px;
  background: none;
}

/* Invisible debug output for controller/action */
.debug {
  color: #FEFEFE;
}

/* Padding around logo and search */
.dwga-header-row {
  padding: 10px 0;
  margin-left: 0px;
}


.dwga-inlineblock {
  display: inline-block;
}

.dwga-title {
  margin-left: 15px;
  display: block;
  float: left;
  h1 {
    font-size: 36px;
    line-height: 1.25em;
    margin: 5px 0 15px;
    color: $link-hover-color;
    float: none !important;
    a {
      color: $link-hover-color;
      text-decoration: none;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  h3 {
    font-size: 25px;
    line-height: 1.25em;
    margin: 5px 0 15px;
    color: $link-hover-color;
  }
}

.dwga-header {
  color: $link-hover-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 134px;
  line-height: 27.09375px;
  margin-bottom: 0px;
  margin-left: 101px;
  margin-right: 101px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.dwga-logo {
  margin-top: -2px;
  float: left;
  padding-left: 20px;
}

.dwga-search {
  padding-right: 20px;
  float: right;
  .site-search .field {
    button{
      &[type="submit"] {
        font-size: 18px;
        width: 20.5%;
        height: 44px;
        color: #fff;
        border: none;
        background: #999;
        float: right;
        margin-right: 0;
        font-family: 'ready-steady-gov';
        background: #95c677;
        top: 10px;
        right: -8px;
      }
      .icon-search:before {
        font-size: 19px;
      }
    }
  }
}




.masthead {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background: none;
  background-color: #FCFCFC;
  height: 202px;
  .site-search input {
    height: 34px;
    width: 315px;
    border-color: #c7cacd;
    font-family:"Open Sans Regular";
    font-size: 14px;
    color: #565656;
    margin-left: 0;
    border-radius: 0;
  }
  /* Float the navbar left */
  /* data.wa.gov.au floats left, here it looks better floating right */
  .nav-collapse {
    float: left;
    padding-top: 32px;
  }
  /* Alignment of navigation */
  .navigation, ul.nav {
    margin: 0px 0px 2px 0px;
  }
  .navigation ul.nav li ul.dropdown-menu {
    //display: block;
    position: absolute;
    height: 111px;
    width: 100%;
    box-shadow: none;
    top: 88px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 0;
    border-top: 20px solid transparent;
    box-sizing: content-box;
    margin-top: -57px;
  }
  .navigation ul.nav li {
    a {
      font-size: 15px ;
      color: $link-hover-color;
      font-family: "Open Sans";
      font-weight: 400;
      padding-right: 0;
      padding-left: 0;
      margin-left: 27px;
      margin-right: 27px;
      margin-bottom: -3 px;
    }
    a:hover,
    &.active a{
      background: none;
      color: $link-hover-color;
      box-shadow: none;
    }
    &.active {
      background: none;
      box-shadow: $link-hover-color 0px 2px 0px 0px;
    }
    &:hover {
      background-color: #f5f6f7;
      box-shadow: none;
      border-bottom: 2px solid $link-hover-color;
      color: $link-hover-color;
    }
    &:hover > ul.dropdown-menu {
      display: block;
      position: absolute;
      height: 111px;
      width: 100%;
      box-shadow: none;
      top: 88px;
      border: none;
      background-color: #f5f6f7;
      border-radius: 0;
      border-top: 20px solid transparent;
      box-sizing: content-box;
      margin-top: -57px;
    }
    & ul.dropdown-menu li {
      margin-top: 42px;
    }
    & ul.dropdown-menu li a {
      font-size: 15px ;
      color: $link-hover-color;
      font-family: "Open Sans";
      font-weight: 400;
      padding-right: 0;
      padding-left: 0;
      margin-left: 27px;
      margin-right: 27px;
    }
    &.children-active {
      height: 52px;
      background-color: #f5f6f7;
    }
    &.children-active ul.dropdown-menu {
      z-index: 10;
    }
  }
  input[type="text"]:focus {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  }
}

.navbar{
  .nav.dropdown-menu {
    display: none;
  }

  .nav>.active>a {
    box-shadow: none;
    background: none;
  }

  .nav > li > a {
    padding: 9px 0px 8px 0px ;
    color: $link-hover-color;
    margin-left: 2px;
  }
  .nav>li>.dropdown-menu:before, 
  .nav>li>.dropdown-menu:after {
    display: none;
  }
}

@media (max-width: 1279px) {
  .dwga-logo {
    padding-left: 20px;
  }
  .masthead .site-search input {
    width: 248px;
  }
}

@media (max-width: 979px) {
  .masthead {
    background: none;
    background-color: #FCFCFC;
    min-height: 0px;
  }
  .account-masthead .account.not-authed ul li:nth-child(n+3) {
    display: none;
  }
  .dwga-logo {
    margin-top: -4px;
    padding-left: 0;
    & .logo img {
      width: 80px;
      height: 78px;
    }
  }
  .dwga-title h1 a {
    font-size: 16px;
  }
  .dwga-title h3 {
    font-size: 8px;
  }
  .masthead .site-search {
    display: block;
  }
}

@media (max-width: 320px) {
  .dwga-search .site-search .field button[type="submit"] {
    width: 21%;
    height: 43px;
    font-size: 0px;
    top: 10px;
    right: -19px;
  }

  .masthead hgroup h1 {
    margin-left: -1px;
    letter-spacing: 0px;
  }

  .masthead .site-search input {
    padding-top: 5px;
    padding-left: 9px;
    height: 32px;
    font-size: 16px;
  }

  .dwga-title {
    top: 17px;
    left: 95px;
    position: absolute;
    margin-bottom: 17px;
  }

  .dwga-title h3 {
    margin-top: 9px;
    margin-left: 0px;
  }

  .dwga-search {
    padding-right: 0px;
    float: right;
    margin-right: -6px;
    margin-top: 23px;
  }

  form.site-search.simple-input {
    width: 270px;
    margin-right: -14px;
    margin-top: 2px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #69737c;
  }

  #dwga-header-container .btn.btn-navbar .icon-bar {
    margin-top: -9px;
    height: 3px;
    margin-left: -6px;
    width: 19px;
  }
  #dwga-header-container button.btn.btn-navbar {
    padding-left: 22px;
    padding-top: 30px;
    margin-left: 25px;
    padding-right: 0px;
    padding-bottom: 3px;
    margin-right: -15px;
    margin-top: 20px;
    height: 49px;
    width: 48px;
    border-radius: 0;
  }
  
  .dwga-search .site-search .field button .icon-search:before {
    margin-left: 4px;
    margin-top: -4px;
    font-size: 22px;
  }

  .account-masthead {
    margin-right: -42px;
  }
}
