.datawa-showcase-edit {
    .ckanext-showcase-edit-wrapper {
        margin-top: 30px;
        border: 0;
        box-shadow: none;
        .page-header {
            .content_action {
                margin-right: 10px;
                a.btn {
                    padding: 8px 22px;
                }
            }
        }
        .module-content {
            #dataset-edit {
                .btn-remove-url {
                    border-radius: 0;
                    border: 0;
                }
                .btn-remove-url,
                .btn-danger {
                    color: $fff;
                    background: $btn-danger-color;
                    border-bottom: 3px solid $btn-danger-dropshadow;
                    &:hover {
                        background: $btn-danger-color-hover;
                    }
                }
                @media(max-width: $mobile-top) {
                    .form-actions {
                        button {
                            float: right;
                        }
                    }
                }
            }
            @media (max-width: $tablet-top) {
                .show-filters.btn {
                    display: none;
                }
            }
        }
        @media(max-width: $mobile-top) {
            padding-right: 20px;
            .page-header {
                .nav-tabs {
                    li {
                        margin-right: 10px;
                    }
                }
            }

        }
        .ckanext_showcase_pagination_footer {
            padding-bottom: 10px;
        }
        @media(max-width: $wide-top) and (min-width: $desktop-top + 1px) {
            .span12 {
                width: 917px;
            }
        }
        @media(max-width: $hd-top) and (min-width: $wide-top + 1px) {
            .span12 {
                width: 948px;
            }
        }
        @media(min-width: $hd-top + 1px) {
            .span12 {
                width: 1086px;
            }
        }
        @media(min-width: $wide-top + 1px) {
            .span12 {
                .container {
                    padding-left: 0;
                }
            }
        }
        @media(width: $mobile-top + 1px) {
            .span12 {
                padding-right: 20px;
            }
        }
    }
    @media(max-width: $tablet-top) and (min-width: $mobile-top + 1px) {
        .container#content {
            width: 724px;
            padding-right: 0;
            padding-left: 0;
            .ckanext-showcase-edit-wrapper {
                .span12 {
                    .container {
                        width: 724px;
                    }
                }
            }
        }
    }
    @media(max-width: $desktop-top) and (min-width: $tablet-top + 1px) {
        .container#content {
            width: 960px;
            padding-right: 20px;
            padding-left: 20px;
            .ckanext-showcase-edit-wrapper {
                .span12 {
                    width: 960px;
                    .container {
                        width: 960px;
                    }
                }
            }
        }

    }
}
