$font-color: #565656;
$link-hover-color: #69737c;
$h-color: #69737c;

$btn-primary-color: #95c677;
$btn-primary-hover: #87be65;
$btn-primary-border: #7bb855;

$btn-default-color: #e7e9ec;
$btn-default-hover: #e7e9ec;
$btn-default-border: #cccfd1;

$a-color: #20399d;
$a-hover-color: #1e527c;

$tablet-top: 979px;
$mobile-top: 767px;

$h-lh: 1.25em;
$h2-fz: 28px;
$h3-fz: 22px;
$body-fz: 16px;
$body-lh: 1.59375em;
