$font-color: #565656;
$link-hover-color: #69737c;
$h-color: #69737c;
$fff: #fff;
$grey-ea: #eaeaea;
$grey-f3: #f3f3f3;
$grey-e5: #e5e5e5;
$grey-fe: #FEFEFE;


$btn-primary-color: #95c677;
$btn-primary-hover: #87be65;
$btn-primary-border: #7bb855;
$btn-datawa-color: #084a78;
$btn-datawa-color-hover: #003155;


$btn-default-color: #e7e9ec;
$btn-default-hover: #e7e9ec;
$btn-default-border: #cccfd1;
$btn-dropshadow: #033960;
$btn-dropshadow-hover: #002542;
$btn-danger-color: #bb362f;
$btn-danger-color-hover: #a11f18;
$btn-danger-dropshadow: #89221d;
$btn-color-grey: #f5f6f7;
$btn-grey-border: #c7cacd;


$a-color: #20399d;
$a-hover-color: #20399d;
$a-dropdown-color: $fff;


$pagination-background-color: $fff;
$pagination-background-color-hover: $btn-datawa-color;
$pagination-border: $btn-grey-border;

$facet-title-color-text: #202224;
$facet-dotted-border-color: #d2d5d6;

$aside-span3-bg: #f4f7f8;

$facet-border: #dfe1e2;
$nav-facet-bg: #f3f6f7;
$nav-item-a-color: #4b4e4f;

$dataset-tabs-bg: #e4e9ed;

$hd-top: 1499px;
$wide-top: 1279px;
$desktop-top: 1099px;
$tablet-top: 979px;
$mobile-top: 767px;
$mobile500: 500px;
$mobile480: 480px;
$mobile375: 375px;
$mobile360: 360px;
$mobile-min: 320px;

$h-lh: 1.25em;
$h1-fz: 35px;
$h1-m360: 1.5em;
$h1-m375: 1.7em;
$h2-fz: 28px;
$h3-fz: 22px;
$body-fz: 16px;
$body-lh: 1.59375em;
