$font-color: #565656;
$link-hover-color: #69737c;
$h-color: #69737c;
$fff: #fff;


$btn-primary-color: #95c677;
$btn-primary-hover: #87be65;
$btn-primary-border: #7bb855;
$btn-datawa-color: #5aa12f;
$btn-datawa-color-hover: #529728;


$btn-default-color: #e7e9ec;
$btn-default-hover: #e7e9ec;
$btn-default-border: #cccfd1;
$btn-dropshadow: #4c9022;
$btn-danger-color: #bb362f;
$btn-danger-color-hover: #a11f18;
$btn-danger-dropshadow: #89221d;
$btn-color-grey: #f5f6f7;
$btn-grey-border: #c7cacd;


$a-color: #20399d;
$a-hover-color: #1e527c;
$a-dropdown-color: $fff;


$pagination-border: #4c9022;


$hd-top: 1499px;
$wide-top: 1279px;
$desktop-top: 1099px;
$tablet-top: 979px;
$mobile-top: 767px;
$mobile375: 375px;
$mobile500: 500px;
$mobile360: 360px;
$mobile-min: 320px;

$h-lh: 1.25em;
$h1-fz: 35px;
$h1-m360: 1.5em;
$h1-m375: 1.7em;
$h2-fz: 28px;
$h3-fz: 22px;
$body-fz: 16px;
$body-lh: 1.59375em;
