@import url(https://fonts.googleapis.com/css?family=Arimo);
body {
  background: #eff1f2;
  font-family: Arial;
  font-size: 16px;
  color: #565656;
  line-height: 1.59375em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #69737c;
  font-weight: 600;
  line-height: 1.59375em; }

h5, h5 {
  text-transform: uppercase; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 12px;
  font-style: italic; }

a, .group-list .module-heading h3 a, .datawa-organization-list #publisher-tree > ul > li {
  color: #20399d;
  text-decoration: underline; }
  a:hover, .group-list .module-heading h3 a:hover, .datawa-organization-list #publisher-tree > ul > li:hover {
    color: #1e527c; }

[role="main"] ul {
  margin-left: 15px; }
  [role="main"] ul li ul li {
    list-style: square; }

.search-form input {
  border-radius: 0; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #95c677;
  box-shadow: inset 0 1px 1px #95c677, 0 0 8px #95c677; }

small {
  font-size: 13px; }

.module-heading {
  font-size: 16px;
  background: #fbfbfc;
  line-height: 1.59375em;
  border-bottom: 1px solid #eee; }
  .module-heading a, .group-list .module-heading h3 a, .module-heading .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module-heading #publisher-tree > ul > li {
    font-size: 22px; }
  .module-heading > i {
    display: none; }
  .module-heading .action {
    font-size: 16px;
    color: #20399d; }
    .module-heading .action:hover {
      color: #1e527c; }

.module-content:first-child {
  padding-top: 0; }

.toolbar .breadcrumb li:after {
  font-size: 14px; }
.toolbar .breadcrumb a, .toolbar .breadcrumb .group-list .module-heading h3 a, .group-list .module-heading h3 .toolbar .breadcrumb a, .toolbar .breadcrumb .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .toolbar .breadcrumb #publisher-tree > ul > li {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  color: #20399d; }
  .toolbar .breadcrumb a:hover, .toolbar .breadcrumb .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .toolbar .breadcrumb #publisher-tree > ul > li:hover {
    text-decoration: underline;
    color: #1e527c; }
.toolbar .breadcrumb .active a, .toolbar .breadcrumb .active .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .toolbar .breadcrumb .active #publisher-tree > ul > li {
  color: #69737c; }
  .toolbar .breadcrumb .active a:hover, .toolbar .breadcrumb .active .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .toolbar .breadcrumb .active #publisher-tree > ul > li:hover {
    text-decoration: none; }
.toolbar .breadcrumb .icon-home:before {
  content: "";
  background: url("/house.png") 50% 50% no-repeat;
  display: inline-block;
  width: 19px;
  height: 20px; }

.btn-primary {
  border: none;
  background: #95c677;
  border-bottom: 2px solid #7bb855;
  text-decoration: none;
  border-radius: 0;
  text-shadow: none; }
  .btn-primary:hover {
    background: #87be65; }
  .btn-primary i {
    color: #fff; }

.search-form h2 {
  font-size: 28px;
  color: #69737c;
  line-height: 1.59375em; }
.search-form .search-input.search-giant {
  position: relative; }
  .search-form .search-input.search-giant button {
    background: #95c677;
    border-bottom: 2px solid #7bb855;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    height: auto;
    width: 100px; }
    .search-form .search-input.search-giant button:hover {
      background: #87be65; }
    .search-form .search-input.search-giant button i {
      color: #fff; }

.tag {
  color: #565656; }
  .tag:hover {
    color: #fff;
    background: #1e527c;
    border: 1px solid #0d3454; }

ul.nav {
  margin-left: 0; }

.nav-item > a, .group-list .module-heading h3 .nav-item > a, .datawa-organization-list #publisher-tree > ul.nav-item > li {
  color: #565656; }
  .nav .nav-item > a:hover, .nav .group-list .module-heading h3 .nav-item > a:hover, .nav .datawa-organization-list #publisher-tree > ul.nav-item > li:hover, .datawa-organization-list .nav #publisher-tree > ul.nav-item > li:hover {
    text-decoration: underline;
    color: #20399d;
    background: #f5f5f5; }

.module .read-more {
  font-size: 16px;
  color: #20399d; }
  .module .read-more:hover {
    color: #1e527c; }
.module .pagination ul li.disabled a, .module .pagination ul li.disabled .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module .pagination ul li.disabled #publisher-tree > ul > li,
.module .pagination ul li a,
.module .pagination ul li .datawa-organization-list #publisher-tree > ul > li,
.datawa-organization-list .module .pagination ul li #publisher-tree > ul > li {
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
  color: #20399d; }
  .module .pagination ul li.disabled a:hover, .module .pagination ul li.disabled .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .module .pagination ul li.disabled #publisher-tree > ul > li:hover,
  .module .pagination ul li a:hover,
  .module .pagination ul li .datawa-organization-list #publisher-tree > ul > li:hover,
  .datawa-organization-list .module .pagination ul li #publisher-tree > ul > li:hover {
    color: #1e527c;
    text-decoration: underline; }
.module .pagination ul li.active a, .module .pagination ul li.active .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module .pagination ul li.active #publisher-tree > ul > li {
  border: 1px solid #7bb855;
  color: #fff;
  background: #95c677; }

.module-narrow .nav-item a, .module-narrow .nav-item .group-list .module-heading h3 a, .group-list .module-heading h3 .module-narrow .nav-item a, .module-narrow .nav-item .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module-narrow .nav-item #publisher-tree > ul > li {
  padding-left: 10px;
  padding-right: 10px; }
.module-narrow .module-footer {
  padding-left: 10px;
  padding-right: 10px; }

.span9 .module:last-child {
  line-height: 1; }

/* ====================================
   The footer at the bottom of the site
   ==================================== */
.site-footer {
  background: #eff1f2;
  padding-top: 33px; }
  .site-footer, .site-footer label, .site-footer small, .site-footer a, .site-footer .group-list .module-heading h3 a, .group-list .module-heading h3 .site-footer a, .site-footer .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .site-footer #publisher-tree > ul > li {
    color: #565656;
    font-size: 15px; }
  .site-footer > .container .row {
    margin-bottom: 22px; }
  .site-footer .attribution {
    margin-left: 0; }
    .site-footer .attribution > a, .site-footer .group-list .module-heading h3 .attribution > a, .group-list .module-heading h3 .site-footer .attribution > a, .site-footer .datawa-organization-list #publisher-tree > ul.attribution > li, .datawa-organization-list .site-footer #publisher-tree > ul.attribution > li {
      margin-right: 20px; }
  .site-footer .inline-links {
    margin-bottom: 11px; }
    .site-footer .inline-links li {
      display: inline;
      text-decoration: underline; }
      .site-footer .inline-links li:after {
        content: '';
        border-right: 1px solid #565656;
        text-decoration: none;
        margin-right: 5px;
        margin-left: 10px; }
      .site-footer .inline-links li:last-child:after {
        border-right: none;
        margin-right: 0;
        margin-left: 0; }
  .site-footer .footer-wa-link-wrapper {
    position: relative; }
  .site-footer .footer-wa-link {
    position: absolute;
    left: 0;
    font-size: 25px;
    margin-top: 8px;
    margin-left: 22px; }
  .site-footer .without-margin {
    margin: 0; }
  .site-footer .row {
    margin-left: 0; }
  @media (max-width: 979px) {
    .site-footer {
      padding-top: 24px; }
      .site-footer .footer-links,
      .site-footer .attribution,
      .site-footer .footer-wa-link-wrapper,
      .site-footer .secondary-footer-links,
      .site-footer .without-margin {
        display: block;
        text-align: center;
        float: none;
        margin: auto;
        margin-bottom: 30px; }
      .site-footer .footer-links {
        width: auto; }
      .site-footer .attribution {
        text-align: center;
        width: 280px; }
        .site-footer .attribution label,
        .site-footer .attribution p {
          text-align: left; }
        .site-footer .attribution label {
          display: block; }
      .site-footer .footer-wa-link {
        position: static; }
      .site-footer .lang-select > * {
        float: none; }
      .site-footer .lang-select .lang-container {
        width: 280px !important;
        text-align: center; }
      .site-footer > .container .row {
        margin-bottom: 14px; }
      .site-footer .footer-wa-link {
        margin-left: 0; }
      .site-footer .paragraph-copyright {
        margin-top: 43px; } }

.homepage .stats ul li a, .homepage .stats ul li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .homepage .stats ul li #publisher-tree > ul > li {
  font-size: 16px; }
  .homepage .stats ul li a:hover, .homepage .stats ul li .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .homepage .stats ul li #publisher-tree > ul > li:hover {
    text-decoration: underline; }
  .homepage .stats ul li a b, .homepage .stats ul li .datawa-organization-list #publisher-tree > ul > li b, .datawa-organization-list .homepage .stats ul li #publisher-tree > ul > li b {
    font-size: 28px;
    line-height: 1.59375em; }
.homepage .module-heading a, .homepage .group-list .module-heading h3 a, .group-list .homepage .module-heading h3 a, .homepage .module-heading .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .homepage .module-heading #publisher-tree > ul > li {
  font-size: 28px; }
.homepage .search-form {
  padding: 0; }

.custom-group-list .module-image {
  width: 190px;
  height: 113px;
  margin-right: 18px; }
  @media (max-width: 767px) {
    .custom-group-list .module-image {
      width: 100px;
      height: 60px; } }
  .custom-group-list .module-image img {
    max-width: 100%;
    max-height: 100%; }
.custom-group-list .module {
  margin: 15px 0; }
  .custom-group-list .module .module-heading {
    background: #f5f5f5;
    padding: 18px; }
.custom-group-list .media-heading {
  font-size: 22px;
  line-height: 1.59375em; }

.datawa-organization-list #publisher-tree > ul {
  margin: 0; }
  .datawa-organization-list #publisher-tree > ul > li {
    position: relative;
    font-size: 28px;
    padding: 23.5px;
    margin-bottom: 20px;
    line-height: 1;
    background: #f5f5f5;
    list-style: none;
    word-break: break-word; }
    .datawa-organization-list #publisher-tree > ul > li:before {
      width: 39px;
      height: 37px;
      display: inline-block;
      content: "";
      background: #95c677 url("/plus.png") 50% 50% no-repeat;
      border-bottom: 2px solid #7bb855;
      cursor: pointer;
      position: absolute;
      top: 18px; }
    .datawa-organization-list #publisher-tree > ul > li.open:before {
      background: #e7e9ec url("/minus.png") 50% 50% no-repeat;
      border-bottom: 2px solid #cccfd1; }
    .datawa-organization-list #publisher-tree > ul > li > a {
      margin-left: 55px;
      display: inline-block; }
    .datawa-organization-list #publisher-tree > ul > li > ul {
      display: none; }
    .datawa-organization-list #publisher-tree > ul > li.open > ul {
      display: block;
      margin-top: 20px; }
    .datawa-organization-list #publisher-tree > ul > li > ul > li {
      font-size: 16px;
      line-height: 1.59375em;
      list-style: disc;
      margin-left: 55px; }
.datawa-organization-list + .pagination {
  display: none; }

.dataset-item {
  border-bottom: 1px dotted #efefef; }
  .dataset-item .dataset-heading a, .dataset-item .dataset-heading .group-list .module-heading h3 a, .group-list .module-heading h3 .dataset-item .dataset-heading a, .dataset-item .dataset-heading .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .dataset-item .dataset-heading #publisher-tree > ul > li {
    color: #20399d; }
    .dataset-item .dataset-heading a:hover, .dataset-item .dataset-heading .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .dataset-item .dataset-heading #publisher-tree > ul > li:hover {
      color: #1e527c; }

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */
.leaflet-draw-toolbar a, .leaflet-draw-toolbar .group-list .module-heading h3 a, .group-list .module-heading h3 .leaflet-draw-toolbar a, .leaflet-draw-toolbar .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .leaflet-draw-toolbar #publisher-tree > ul > li {
  background-image: url("img/spritesheet.png");
  background-repeat: no-repeat; }

.leaflet-retina .leaflet-draw-toolbar a, .leaflet-retina .leaflet-draw-toolbar .group-list .module-heading h3 a, .group-list .module-heading h3 .leaflet-retina .leaflet-draw-toolbar a, .leaflet-retina .leaflet-draw-toolbar .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .leaflet-retina .leaflet-draw-toolbar #publisher-tree > ul > li {
  background-image: url("img/spritesheet-2x.png");
  background-size: 270px 30px; }

/* ===========================================
   The content in the middle of the front page
   =========================================== */
/* Hide featured section */
.featured {
  visibility: hidden;
  height: 0px; }

/* The background outside of the hero pane */
.hero, [role=main] {
  background: #FEFEFE; }

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none; }

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none; }

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: #69737c;
  background-color: white; }

/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: #69737c;
  background-color: #FCFCFC; }

/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px; }

.homepage .module-search {
  padding: 0px; }

/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px; }

/* The box around featured orgs/groups */
.box {
  border: none; }

@media (min-width: 1280px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1280px;
    padding-left: 35px;
    padding-right: 20px;
    box-sizing: border-box; }

  .navbar.navbar-static-top.masthead,
  header.account-masthead,
  [role=main],
  .site-footer {
    margin-left: -15px; }

  .primary.span9 {
    width: 830px; }

  #content {
    padding-left: 79px;
    padding-right: 130px; }

  .span6 {
    width: 600px; }

  .span3 {
    width: 240px; } }
.paragraph-copyright {
  font-size: 17px;
  line-height: 1.3; }

@media (max-width: 979px) {
  .search-form .control-order-by select {
    width: 100%; }

  .module:last-child {
    margin-bottom: 20px; } }
@media (max-width: 979px) and (min-width: 768px) {
  .primary.span9 {
    width: auto; }

  .secondary.span3 {
    width: 100%; }

  #content {
    width: auto;
    padding-left: 60px;
    padding-right: 60px; } }
@media (max-width: 767px) {
  [role="main"] {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px; }

  .primary.span9 {
    background-color: #fff; }

  .module-content {
    padding: 0; }

  .toolbar {
    display: none; }

  .secondary.span3 {
    float: left; }

  .js .show-filters.btn {
    border: none;
    background: #95c677;
    border-bottom: 2px solid #7bb855;
    border-radius: 0;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px 10px;
    font-size: 16px; }
    .js .show-filters.btn:hover {
      background: #87be65; }
    .js .show-filters.btn i {
      color: #fff; } }

/*# sourceMappingURL=datawagovautheme.css.map */
