@import 'variables';
@import 'mixins';
@import 'base_items';
@import 'ckan_elements';
@import 'header';
@import 'footer';
@import 'home';
@import 'group';
@import 'organization';
@import 'dataset';
/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */


.leaflet-draw-toolbar a {
  background-image: url('img/spritesheet.png');
  background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('img/spritesheet-2x.png');
  background-size: 270px 30px;
}




/* ===========================================
   The content in the middle of the front page
   =========================================== */

   /* Hide featured section */
.featured {visibility:hidden; height:0px;}

/* The background outside of the hero pane */
.hero, [role=main] {
  background:#FEFEFE;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(105,115,124);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: rgb(105,115,124);
  background-color: #FCFCFC;
  h3{
    font-size: $body-fz;
  }
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px;
}

/* The box around featured orgs/groups */
.box {
  border:none;
}

body{
  overflow-x: hidden;
}
.row{
  margin-left: 0;
}
@media(min-width: 1280px){
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container{
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .site-footer .container{
    padding-left: 0;
    padding-right: 0;
  }
  .primary.span9{
    width: 830px;
  }
  #content,
  .homepage [role="main"] .container{
    padding-left: 54px;
    padding-right: 105px;
  }
  .span6{
    width: 600px
  }
  .homepage{
    .span6{
      width: 550px;
      margin: 0;
      &:first-child{
        margin-right: 20px;
      }
    }
  }
  .span3{
    width: 270px;
  }
}
.paragraph-copyright{
  font-size: 17px;
  line-height: 1.3;
}
@media(min-width: $tablet-top + 1px){
  .form-select.control-order-by{
    position: relative;
    &:after{
      pointer-events:none;
      content: "\f107";
      background: #fff  ;
      display: inline-block;
      font-family: "FontAwesome";
      line-height: 16px;
      pointer-events: none;
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
}
@media(max-width: 1279px) and (min-width: $tablet-top + 1px){
  .homepage .span6{
    width: 450px;
  }
}
@media(max-width: $tablet-top){
  .search-form {
    .control-order-by select{
      width: 100%;
    }
  }
  .module:last-child{
    margin-bottom: 20px;
  }
}
@media(max-width: $tablet-top) and (min-width: $mobile-top + 1px){
  .homepage {
    .span6{
      float: none;
      width: auto;
    }
    .hidden-phone{
      display: none;
    }
  }
  .primary.span9{
    width: auto;
  }
  .secondary.span3{
    width: 100%;
  }
  #content{
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media(max-width: $tablet-top){
  [role="main"]{

    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
  }
  .primary.span9{
    background-color: #fff;
  }
  .module-content{
    padding: 0;
  }
  .toolbar{
    display: none;
  }
  .secondary.span3{
    float: left;
  }
}
