@import 'variables';
@import 'mixins';
@import 'base_items';
@import 'ckan_elements';
@import 'header2';
@import 'footer';
@import 'home';
@import 'group';
@import 'organization';
@import 'dataset';
@import 'showcase';



/* ===========================================
   The content in the middle of the front page
   =========================================== */

   /* Hide featured section */
.featured {visibility:hidden; height:0px;}

/* The background outside of the hero pane */
.hero, [role=main] {
  background:#FEFEFE;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(105,115,124);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: rgb(105,115,124);
  background-color: #FCFCFC;
  h3{
    font-size: $body-fz;
  }
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
  margin: 0;
}
/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px;
}

/* The box around featured orgs/groups */
.box {
  border:none;
}

/* Spatial images */

.leaflet-draw-toolbar a {
        background-image: url('/img/spritesheet.png');
        background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
        background-image: url('/img/spritesheet-2x.png');
        background-size: 270px 30px;
}

.media-grid {
  .media-item {
    word-break: break-word;
    word-wrap: break-word;
  }
}

.module-resource {
  .actions {
    top: 4px;
  }
}

.context-info .image {
  padding-bottom: 20px;
  border-bottom: 1px dotted #DDD;
  margin-bottom: 15px;
}

.dataset-item .dataset-resources {
  margin-left: 0;
  li {
    a.label {
        opacity: 0.65;
        &:hover {
            opacity: 1;
        }
    }
  }
}

.resource-list {
    .resource-item {
      padding-left: 90px;
      .resource-access-level-icon {
        position: absolute;
        left: 5px;
        width: 32px;
        height: 32px;
        top: 11px;
      }
      .format-label {
        left: 45px
      }
    }
}


.tag-list.well {
  li {
    margin-right: 0;
    margin-left: 5px;
  }
}

.dataset-map-expanded {
  .wrapper-datawa {
      margin-top: 383px;
  }
  #dataset-map {
    width: 100%;
  }
  #dataset-map-edit-buttons {
    a.btn.cancel {
      padding-top: 6px;
      padding-bottom: 2px;
      text-decoration: none;
      border-radius: 0;
      border: 0;
      border-bottom: 3px solid $btn-default-border;
      color: $h-color;
      font-size: 14px;
      background-image: none;
    }
    a.btn.apply {
      padding-top: 6px;
      padding-bottom: 2px;
      text-decoration: none;
      /* border-radius: 4px; */
      /* border: 1px solid #cccccc; */
      border-bottom: 3px solid $btn-dropshadow;
      color: #fff;
      font-size: 14px;
      background-image: none;
      background: $btn-datawa-color;
      box-shadow: none;
      text-shadow: none;
      &:hover {
        background: $btn-datawa-color-hover;
        border-bottom-color: $btn-dropshadow-hover;
      }
    }
    a.btn.apply.disabled {
      opacity: 0.8;
    }
  }
}

body, html{
  overflow-x: hidden;
}
.paragraph-copyright{
  font-size: 17px;
  line-height: 1.3;
}

.datawa-dataset-read,
.datawa-datasets,
.datawa-orgs,
.datawa-org-read,
.datawa-about,
.datawa-groups,
.datawa-group-read {
    padding-bottom: 0;
}

@media (min-width: $tablet-top + 1px) {
  .wrapper-datawa {
    display: flex;
  }
}
@media (min-width: $desktop-top + 1px) {
  [role=main] {
    #dataset-edit {
      .info-block.info-inline {
        width: 36%;
        padding-left: 10px;
        padding-top: 0;
      }
    }
  }
}
@media (min-width: $hd-top + 1px) {
  [role=main] {
    // background-position: -49px 0px;
    #dataset-edit {
      .info-block.info-inline {
        width: 48%;
        padding-left: 10px;
        padding-top: 0;
      }
    }
  }
}

.toolbar {
    border-bottom: 1px solid $btn-grey-border;
    padding-bottom: 8px;
    margin-bottom: 0;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 9999px;
        top: 0;
        bottom: -1px;
        left: -9999px;
        border-bottom: 1px solid $btn-grey-border;
        z-index: 10;
    }
    &:after {
        border-bottom: 1px solid $btn-grey-border;
        width: 9999px;
        bottom: -9px;
        position: relative;
    }
}

.secondary.col-sm-3 {
    padding-top: 20px;
    padding-right: 0;
    border-right: 1px solid #c7cacd;
    @media (min-width: $tablet-top) {
      background: $aside-span3-bg;
      &:before {
        content: ' ';
        display: block;
        background: $aside-span3-bg;
        position: absolute;
        width: 9999px;
        top: -1px;
        bottom: 0;
        left: -9999px;
      }
    }
    h2.module-heading {
        border-top: 0;
        text-transform: uppercase;
        color: $facet-title-color-text;
        font-weight: 600;
        background: $aside-span3-bg;
        border-bottom: 2px solid $facet-border;
    }
}

.datawa-showcase-edit,
.wrapper-datawa {
    .span9 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .page-header {
        background: $dataset-tabs-bg;
        padding-top: 13px;
        margin-left: 0;
        padding-left: 10px;
        border-radius: 0px;
        @media (min-width: $mobile-top + 1px) {
            border-bottom-color: transparent;
            .nav-tabs {
                border-color: transparent;
                &> li > a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                &> li.active {
                    a {
                        border-color: $dataset-tabs-bg;
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
}

.datawa-datasets,
.datawa-dataset-read {
    .wrapper-datawa {
        padding-top: 0;
    }
}

.datawa-about,
.datawa-dashboard {
    .wrapper-datawa {
        padding-top: 20px;
        background-image: none;
    }
}

.datawa-group-read,
.datawa-org-read {
    .wrapper-datawa {
        .span9 {
            .page-header {
                margin-left: 0;
            }
        }
        .span3 {
            padding-bottom: 20px;
        }
    }
}

.datawa-admin {
    padding-top: 0;
    padding-bottom: 0;
    .toolbar {
        border-bottom: 0;
        padding: 0;
        &:after,
        &:before {
            display: none;
        }
    }
    .wrapper-datawa {
        min-height: 350px;
        .span9 {
            padding-top: 40px;
        }
        .secondary.span3 {
            padding-top: 34px;
            padding-bottom: 20px;
        }
    }
}

.datawa-dashboard {
    .wrapper-datawa {
        padding-top: 30px;
    }
}

.datawa-user-edit,
.datawa-user-new,
.datawa-user-login {
    .wrapper-datawa {
        .span9 {
            padding-top: 20px;
        }
    }
}

.datawa-user-login {
    .wrapper-datawa {
        .secondary.span3 {
            padding-bottom: 20px;
        }
    }
}

.datawa-user-read {
    .wrapper-datawa {
        .secondary.span3 {
            padding-top: 30px;
        }
    }
}

.datawa-resource-read {
  .wrapper-datawa {
    display: block;
    .secondary.col-sm-3:before {
      content: none;
    }
    @media (min-width: $tablet-top) {
      .col-md-3 {
        border-right: 1px solid $btn-grey-border;
        .license {
          margin-bottom: 50px;
        }
      }
      background-image: none;
      .module-resource {
        .module-content:first-child {
          margin-top: 0;
          padding-top: 30px;
        }
      }
    }
  }
  .secondary.col-md-3 {
    @media (min-width: $tablet-top) {
      background: $aside-span3-bg;
      &:before {
        background: $grey-fe;
      }
    }
  }
}
.wrapper-datawa {
    .context-info p,
    .resource-item,
    .additional-info .dataset-details,
    #dataset-edit .form-actions p.action-info,
    .span3 .module-content p,
    .media-grid.masonry .media-heading,
    .activity {
        @include langate-link-decoration;
    }
}

.container .flash-messages .alert {
  margin-top: 20px;
}

@media(min-width: $wide-top + 1px){
  #content,
  .homepage [role="main"] .container{
    padding-left: 78px;
    padding-right: 85px;
  }
  .homepage{
    .span6{
      margin: 0;
      &:first-child{
        margin-right: 20px;
      }
    }
  }
  .span3{
    width: 270px;
  }
}

@media(min-width: $hd-top + 1px){
  #content,
  .homepage [role="main"] .container{
    padding-left: 38px;
    padding-right: 105px;
  }
  .media-grid {
    .media-item {
      width: 26.87%;
    }
  }
}
@-moz-document url-prefix() {
  .form-select.control-order-by{
    #field-order-by{
      -moz-appearance: none;
      // -moz-outline-radius: 3px;
      // outline: 1px solid #c7cacd;
    }
    position: relative;
    &:after{
      pointer-events:none;
      content: "\f107";
      background: #fff  ;
      display: inline-block;
      font-family: "FontAwesome";
      line-height: 16px;
      pointer-events: none;
      position: absolute;
      right: 7px;
      top: 7px;
      @media(max-width: $tablet-top){
        top: 33px;
      }
    }
  }
}
.span9 div.module-content{
  padding-left: 0;
}
@media(min-width: $tablet-top + 1px){
  .form-select.control-group.control-order-by{
    margin-top: 13px;
  }
  .module-resource {
    .module-content {
      margin: 30px 0;
    }
  }
}
@media(max-width: $tablet-top){
  .search-form {
    .control-order-by select{
      width: 100%;
    }
    .filter-list{
      margin-bottom: 20px;
    }
  }
  .module:last-child{
    margin-bottom: 20px;
  }
}
@media(max-width: $hd-top) and (min-width: $desktop-top + 1px){
  .media-grid {
    .media-item {
      width: 25.74%;
    }
  }
}
@media(min-width: $hd-top + 1px){
  .container{
    width: 1086px;
    box-sizing: content-box;
  }
  .site-footer .container{
    width: 1280px;
  }
  .span9{
    width: 810px;
    .primary {
      width: 602px;
    }
  }
  .span3{
    width: 250px;
  }
  .span6{
    width: 533px;
    &:first-child{
      margin-left: 0;
    }
  }
}
@media(max-width: $hd-top) and (min-width: $wide-top + 1px){
  .container{
    width: 948px;
    box-sizing: content-box;
  }
  .site-footer .container{
    width: 1100px;
  }
  .span9{
    width: 690px;
    .primary {
      width: 482px;
    }
  }
  .span3{
    width: 230px;
  }
  .span6{
    width: 464px;
    &:first-child{
      margin-left: 0;
    }
  }
}
@media(max-width: $wide-top) and (min-width: $desktop-top + 1px){
  .container{
    width: 917px;
    &.homepage [role="main"] .container{
      padding-right: 38px;
    }
  }
  .site-footer .container{
    width: 1020px;
  }
  .span9{
    width: 670px;
  }
  .span3{
    width: 220px;
  }
  .span6{
    width: 448px;
    &:first-child{
      margin-left: 0;
    }
  }
}
@media(max-width: $desktop-top) and (min-width: $tablet-top + 1px){
  .container{
    width: 762px;
    &#content,
    &.homepage [role="main"] .container{
      padding-right: 10px;
    }
  }
  .site-footer .container{
    width: 860px;
  }
  .span9{
    width: 560px;
  }
  .span3{
    width: 180px;
  }
  .span6{
    width: 370px;
    &:first-child{
      margin-left: 0;
    }
  }
  .site-footer{
    .select2-container.lang-container{
      width: 190px !important;
    }
    .attribution > a{
      margin-right: 9px;
    }
  }
  .media-grid {
    .media-item {
      width: 40.41%;
    }
  }
}
@media(max-width: $tablet-top) and (min-width: $mobile-top + 1px){
  .homepage {
    .span6{
      float: none;
      width: auto;
      margin-left: 0;
    }
    .hidden-phone{
      display: none;
    }
  }
  .primary.span9{
    width: 100%;
  }
  .secondary.span3{
    width: 100%;
  }
  .span9 .page-header{
    margin-left: 0;
  }
  .tablet-text-right{
    text-align: right;
  }
  .attribution{
    &:first-child{
      margin-bottom: 20px;
    }
  }
  #content{
    padding-left: 54px;
    padding-right: 60px;
  }
  .media-grid {
    .media-item {
      width: 25.5%;
    }
  }
}
@media(max-width: $tablet-top){
  [role="main"]{
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 20px 0;
  }
  .primary.span9{
    padding-top: 20px;
    background-color: #fff;
  }
  .module-content{
    padding: 0;
  }
  .toolbar{
    display: none;
  }
  .secondary.span3{
    float: left;
  }
  .module-resource {
    .actions {
      top: 10px;
    }
  }
}
@media(max-width: $mobile-top){
  .add-member-form .row-fluid .control-group {
    float: none;
    width: 100%;
  }
  .add-member-or {
    float: none;
    margin-top: 0;
    text-align: left;
    width: 100%;
  }
  .module-resource {
    .actions {
      top: 10px;
      float: right;
      right: 0;
      margin-top: -10px;
      ul {
        padding-left: 0;
        margin-left: 0;
      }
    }
    h1 {
      display: inline-block;
      margin-top: 15px;
    }
    [role="main"] ul {
      padding-left: 0;
    }
  }
  .media-grid {
    .media-item {
      width: 34%;
      img {
        width: 100%;
      }
    }
  }
}
@media(max-width:$mobile-top) and (min-width: $mobile500){
  .media-grid {
    .media-item {
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}
@media(max-width: $mobile360) and (min-width: $mobile-min){
  .media-grid {
    .media-item {
      width: 77%;
      img {
        width: 100%;
      }
    }
  }
}

#access-and-use-card{
    margin: 30px 0;
    h1, h2, h3, h4, h5 {
      color: #0c4a77;
    }
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        font-family: Arial, sans-serif;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
        border-radius: 6px;
        margin: 0 auto;
    }

    .row {
        margin: 0;
        width: 100%;
        background-color: rgb(228, 233, 237);
    }

    .sub_title {
        line-height: 26px;
        font-weight: bold;
        color: #0c4a77;
        text-transform: uppercase;
    }

    .card_body_text {
        line-height: 18px;
        color: rgb(86, 86, 86);
    }

    /* Blue Card Header */
    .card_header {
        background-color: rgb(12, 74, 119);
        border-radius: 6px 6px 0px 0px;
    }

    .card_title {
        font-size: 22px;
        line-height: 24px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        padding: 14px;
        font-family: "Open Sans", sans-serif;
    }
    .license-url {
      display: flex;
      text-decoration: none;
      color: #0c4a77;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    /* Access and Licence Row */
    .access_and_license_row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .access_and_licence_col {
        padding: 24px 16px 24px 16px;
        display: flex;
        max-width: 50%;
        width: 50%;
        flex-wrap: wrap;
        @media(max-width: $tablet-top){
            width: 49%;
            max-width: 100%;
            min-width: 330px;
        }
    }

    .sub_column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .icon_column {
        flex: 0 0 74px;
    }

    .icon_cell {
        flex: 1;
        color: white;
        flex: 2;
    }

    .icon_cell.access_icon > img {
        width: 60px;
        height: 60px;
    }

    .icon_cell.licence_icon > img {
        width: 60px;
        height: 60px;
    }

    .addt_licence_options {
        @media(max-width: $tablet-top){
            flex-basis: 100%;
        }
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .addt_licence_options_text {
        padding-top: 12px;
        color: rgb(12, 74, 119);
        line-height: 18px;
    }

    /* Data Access Statement */
    .data_access_statement_container {
        padding: 0px 16px 8px 16px;
    }

    /* Request Access Button */
    .call_to_action_container {
        border-radius: 0px 0px 6px 6px;
        display: flex;
        justify-content: flex-end;
    }

    .call_to_action_button_container {
        padding: 0px 16px 24px 16px;
    }
}
