@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial/arial0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arial/arial0.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arial0.woff2") format("woff2"), url("../fonts/arial/arial0.woff") format("woff"), url("../fonts/arial/arial0.ttf") format("truetype"), url("../fonts/arial/arial0.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ArialBold';
  src: url("../fonts/arial/arialbd0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arial/arialbd0.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialbd0.woff2") format("woff2"), url("../fonts/arial/arialbd0.woff") format("woff"), url("../fonts/arial/arialbd0.ttf") format("truetype"), url("../fonts/arial/arialbd0.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
body {
  background: #eff1f2;
  font-family: Arial;
  font-size: 16px;
  color: #565656;
  line-height: 1.59375em; }

label, input, button, select, textarea {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #69737c;
  font-weight: 600;
  line-height: 1.25em; }

h5, h5 {
  text-transform: uppercase; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 12px;
  font-style: italic; }

a, .group-list .module-heading h3 a, .datawa-organization-list #publisher-tree > ul > li {
  color: #20399d;
  text-decoration: underline; }
  a:hover, .group-list .module-heading h3 a:hover, .datawa-organization-list #publisher-tree > ul > li:hover {
    color: #1e527c; }

[role="main"] ul {
  padding-left: 15px;
  margin-left: 15px; }
  [role="main"] ul[class] {
    padding-left: 0; }
  [role="main"] ul li {
    line-height: 1.59375em; }
    [role="main"] ul li ul li {
      list-style: square; }

.search-form input {
  border-radius: 0; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #95c677;
  box-shadow: inset 0 1px 1px #95c677, 0 0 8px #95c677; }

small {
  font-size: 13px; }

.module-heading {
  font-size: 16px;
  background: #fbfbfc;
  line-height: 1.59375em;
  border-bottom: 1px solid #eee; }
  .module-heading a, .group-list .module-heading h3 a, .module-heading .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module-heading #publisher-tree > ul > li {
    font-size: 22px; }
  .module-heading p a, .group-list .module-heading p h3 a, .group-list .module-heading h3 p a, .module-heading p .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module-heading p #publisher-tree > ul > li {
    font-size: 16px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-wrap: break-word; }
  .module-heading > i {
    display: none; }
  .module-heading .action {
    font-size: 16px;
    color: #20399d;
    font-weight: 300;
    line-height: 1.59375em; }
    .module-heading .action:hover {
      color: #1e527c; }

.module-content:first-child {
  padding-top: 0; }

.pill {
  background: #1e527c; }
  .pill a.remove:hover, .pill .datawa-organization-list #publisher-tree > ul > li.remove:hover, .datawa-organization-list .pill #publisher-tree > ul > li.remove:hover {
    color: #fff; }

.toolbar .breadcrumb li:after {
  font-size: 14px; }
.toolbar .breadcrumb a, .toolbar .breadcrumb .group-list .module-heading h3 a, .group-list .module-heading h3 .toolbar .breadcrumb a, .toolbar .breadcrumb .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .toolbar .breadcrumb #publisher-tree > ul > li {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  color: #20399d; }
  .toolbar .breadcrumb a:hover, .toolbar .breadcrumb .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .toolbar .breadcrumb #publisher-tree > ul > li:hover {
    text-decoration: underline;
    color: #1e527c; }
.toolbar .breadcrumb .active a, .toolbar .breadcrumb .active .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .toolbar .breadcrumb .active #publisher-tree > ul > li {
  color: #69737c; }
  .toolbar .breadcrumb .active a:hover, .toolbar .breadcrumb .active .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .toolbar .breadcrumb .active #publisher-tree > ul > li:hover {
    text-decoration: none; }
.toolbar .breadcrumb .icon-home:before {
  content: "";
  background: url("/house.png") 50% 50% no-repeat;
  display: inline-block;
  width: 19px;
  height: 20px; }

.btn-primary, .btn-primary:focus, .btn-success, .btn-success:focus {
  border: none;
  background: #95c677;
  border-bottom: 2px solid #7bb855;
  text-decoration: none;
  border-radius: 0;
  text-shadow: none; }
  .btn-primary:hover, .btn-primary:focus:hover, .btn-success:hover, .btn-success:focus:hover {
    background: #87be65; }
  .btn-primary i, .btn-primary:focus i, .btn-success i, .btn-success:focus i {
    color: #fff; }

.search-form h2 {
  font-size: 28px;
  color: #69737c;
  line-height: 1.59375em; }
.search-form .search-input.search-giant {
  position: relative; }
  .search-form .search-input.search-giant input {
    border: 1px solid #c7cacd; }
  .search-form .search-input.search-giant button {
    background: #95c677;
    border-bottom: 2px solid #7bb855;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    height: auto;
    width: 100px; }
    .search-form .search-input.search-giant button:hover {
      background: #87be65; }
    .search-form .search-input.search-giant button i {
      color: #fff; }

a.tag, .group-list .module-heading h3 a.tag, .datawa-organization-list #publisher-tree > ul > li.tag {
  color: #565656;
  text-decoration: none; }
  a.tag:hover, .group-list .module-heading h3 a.tag:hover, .datawa-organization-list #publisher-tree > ul > li.tag:hover {
    color: #fff;
    background: #1e527c;
    border: 1px solid #0d3454;
    box-shadow: none; }

ul.nav {
  margin-left: 0; }

.nav-item > a, .group-list .module-heading h3 .nav-item > a, .datawa-organization-list #publisher-tree > ul.nav-item > li {
  color: #565656; }
  .nav .nav-item > a:hover, .nav .group-list .module-heading h3 .nav-item > a:hover, .nav .datawa-organization-list #publisher-tree > ul.nav-item > li:hover, .datawa-organization-list .nav #publisher-tree > ul.nav-item > li:hover {
    text-decoration: underline;
    color: #20399d;
    background: #f5f5f5; }

.module div.api-info-section {
  padding-bottom: 20px; }
.module .read-more {
  font-size: 16px;
  color: #20399d;
  font-weight: 300; }
  .module .read-more:hover {
    color: #1e527c; }
.module .pagination {
  padding-top: 25px; }
  .module .pagination ul li.disabled a, .module .pagination ul li.disabled .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module .pagination ul li.disabled #publisher-tree > ul > li,
  .module .pagination ul li a,
  .module .pagination ul li .datawa-organization-list #publisher-tree > ul > li,
  .datawa-organization-list .module .pagination ul li #publisher-tree > ul > li {
    border: 1px solid #e8e8e8;
    background: #f5f5f5;
    color: #20399d; }
    .module .pagination ul li.disabled a:hover, .module .pagination ul li.disabled .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .module .pagination ul li.disabled #publisher-tree > ul > li:hover,
    .module .pagination ul li a:hover,
    .module .pagination ul li .datawa-organization-list #publisher-tree > ul > li:hover,
    .datawa-organization-list .module .pagination ul li #publisher-tree > ul > li:hover {
      color: #1e527c;
      text-decoration: underline; }
  .module .pagination ul li.active a, .module .pagination ul li.active .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module .pagination ul li.active #publisher-tree > ul > li {
    border: 1px solid #7bb855;
    color: #fff;
    background: #95c677;
    pointer-events: none; }

.module-content {
  padding-left: 0;
  padding-right: 0; }

.module-narrow .nav-item a, .module-narrow .nav-item .group-list .module-heading h3 a, .group-list .module-heading h3 .module-narrow .nav-item a, .module-narrow .nav-item .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module-narrow .nav-item #publisher-tree > ul > li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  text-decoration: none; }
.module-narrow .module-footer, .module-narrow .module-heading {
  padding-left: 10px;
  padding-right: 10px; }

.content_action .btn {
  border: none;
  background: #e7e9ec;
  border-bottom: 2px solid #cccfd1;
  background: #f5f6f7;
  font-size: 16px;
  text-decoration: none;
  border-radius: 0;
  padding: 5px 22px; }
  .content_action .btn:hover {
    background: #e7e9ec; }
  .content_action .btn i {
    color: #69737c; }

.api-info-section {
  line-height: 1; }

.page-header {
  background: #fff; }

.account-masthead {
  height: 39px;
  background: none;
  background-color: #fff; }
  .account-masthead .account {
    margin-top: 10px;
    /* The "bubble" containing the number of new notifications. */
    /* Transparent separator between links */ }
    .account-masthead .account .notifications a, .account-masthead .account .notifications .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .account-masthead .account .notifications #publisher-tree > ul > li {
      /* The "dashboard" and number of notifiations background */ }
      .account-masthead .account .notifications a span, .account-masthead .account .notifications .datawa-organization-list #publisher-tree > ul > li span, .datawa-organization-list .account-masthead .account .notifications #publisher-tree > ul > li span {
        background-color: #FCFCFC; }
      .account-masthead .account .notifications a:hover span, .account-masthead .account .notifications .datawa-organization-list #publisher-tree > ul > li:hover span, .datawa-organization-list .account-masthead .account .notifications #publisher-tree > ul > li:hover span {
        color: #69737c;
        background-color: inherit; }
    .account-masthead .account ul li {
      border-left: 2px transparent;
      /* The text and icons in the user account info. */ }
      .account-masthead .account ul li a, .account-masthead .account ul li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .account-masthead .account ul li #publisher-tree > ul > li {
        font: 15px "Arial", sans-serif;
        padding: 0px 8px;
        color: #565656;
        text-decoration: none; }
        .account-masthead .account ul li a:hover, .account-masthead .account ul li .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .account-masthead .account ul li #publisher-tree > ul > li:hover {
          color: #565656;
          background-color: #FFFFFF;
          text-decoration: underline; }

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */
.dwga-header-container {
  padding: 5px;
  background: none; }

/* Invisible debug output for controller/action */
.debug {
  color: #FEFEFE; }

/* Padding around logo and search */
.dwga-header-row {
  padding: 10px 0;
  margin-left: 0px; }

.dwga-inlineblock {
  display: inline-block; }

.dwga-title {
  margin-left: 15px;
  display: block;
  float: left; }
  .dwga-title h1 {
    font-size: 36px;
    line-height: 1.25em;
    margin: 5px 0 15px;
    color: #69737c;
    float: none !important; }
    .dwga-title h1 a, .dwga-title h1 .group-list .module-heading h3 a, .group-list .module-heading h3 .dwga-title h1 a, .dwga-title h1 .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .dwga-title h1 #publisher-tree > ul > li {
      color: #69737c;
      text-decoration: none; }
      .dwga-title h1 a:hover, .dwga-title h1 .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .dwga-title h1 #publisher-tree > ul > li:hover {
        color: #69737c; }
  .dwga-title h3 {
    font-size: 25px;
    line-height: 1.25em;
    margin: 5px 0 15px;
    color: #69737c; }

.dwga-header {
  color: #69737c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 134px;
  line-height: 27.09375px;
  margin-bottom: 0px;
  margin-left: 101px;
  margin-right: 101px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px; }

.dwga-logo {
  margin-top: -2px;
  float: left;
  padding-left: 20px; }

.dwga-search {
  padding-right: 20px;
  float: right; }
  .dwga-search .site-search .field button[type="submit"] {
    font-size: 18px;
    width: 20.5%;
    height: 44px;
    color: #fff;
    border: none;
    background: #999;
    float: right;
    margin-right: 0;
    font-family: 'ready-steady-gov';
    background: #95c677;
    top: 10px;
    right: -8px; }
  .dwga-search .site-search .field button .icon-search:before {
    font-size: 19px; }

.masthead {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background: none;
  background-color: #FCFCFC;
  height: 192px;
  /* Float the navbar left */
  /* data.wa.gov.au floats left, here it looks better floating right */
  /* Alignment of navigation */ }
  .masthead .site-search input {
    height: 34px;
    width: 315px;
    border-color: #c7cacd;
    font-family: "Open Sans Regular";
    font-size: 14px;
    color: #565656;
    margin-left: 0;
    border-radius: 0; }
  .masthead .nav-collapse {
    float: left;
    padding-top: 32px; }
  .masthead .navigation, .masthead ul.nav {
    margin: 0px 0px 2px 0px; }
  .masthead .navigation ul.nav li ul.dropdown-menu {
    position: absolute;
    height: 111px;
    width: 100%;
    box-shadow: none;
    top: 88px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 0;
    border-top: 20px solid transparent;
    box-sizing: content-box;
    margin-top: -57px; }
  .masthead .navigation ul.nav li {
    /* &:last-child a {
      margin-right: 0;
    } */
    /* &:hover > ul.dropdown-menu {
      display: block;
      position: absolute;
      height: 111px;
      width: 100%;
      box-shadow: none;
      top: 88px;
      border: none;
      background-color: #f5f6f7;
      border-radius: 0;
      border-top: 20px solid transparent;
      box-sizing: content-box;
      margin-top: -57px;
    } */ }
    .masthead .navigation ul.nav li a, .masthead .navigation ul.nav li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .masthead .navigation ul.nav li #publisher-tree > ul > li {
      font-size: 15px;
      color: #69737c;
      font-family: "Open Sans";
      font-weight: 600;
      padding-right: 27px;
      padding-left: 27px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: -3 px;
      letter-spacing: -0.6px; }
    .masthead .navigation ul.nav li a:hover, .masthead .navigation ul.nav li .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .masthead .navigation ul.nav li #publisher-tree > ul > li:hover, .masthead .navigation ul.nav li.active a, .masthead .navigation ul.nav li.active .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .masthead .navigation ul.nav li.active #publisher-tree > ul > li {
      background: none;
      color: #69737c;
      box-shadow: none; }
    .masthead .navigation ul.nav li.active {
      background: none;
      box-shadow: #69737c 0px 2px 0px 0px; }
    .masthead .navigation ul.nav li:hover {
      background-color: #f5f6f7;
      box-shadow: none;
      border-bottom: 2px solid #69737c;
      color: #69737c; }
    .masthead .navigation ul.nav li ul.dropdown-menu li {
      margin-top: 42px; }
    .masthead .navigation ul.nav li ul.dropdown-menu li a, .masthead .navigation ul.nav li ul.dropdown-menu li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .masthead .navigation ul.nav li ul.dropdown-menu li #publisher-tree > ul > li {
      font-size: 15px;
      color: #69737c;
      font-family: "Open Sans";
      font-weight: 400;
      padding-right: 0;
      padding-left: 0;
      margin-left: 27px;
      margin-right: 27px; }
    .masthead .navigation ul.nav li.children-active {
      height: 52px;
      background-color: #f5f6f7; }
    .masthead .navigation ul.nav li.children-active ul.dropdown-menu {
      z-index: 10; }
  .masthead input[type="text"]:focus {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7); }

.navbar .nav.dropdown-menu {
  display: none; }
.navbar .nav > .active > a, .navbar .datawa-organization-list #publisher-tree.nav > ul.active > li, .datawa-organization-list .navbar #publisher-tree.nav > ul.active > li {
  box-shadow: none;
  background: none; }
.navbar .nav > li > a {
  padding: 9px 0px 8px 0px;
  color: #69737c;
  margin-left: 2px; }
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  display: none; }

@media (max-width: 1279px) {
  .dwga-logo {
    padding-left: 20px; }

  .masthead .site-search input {
    width: 248px; } }
@media screen and (min-width: 980px) {
  .navigation ul.nav li:hover > ul.dropdown-menu {
    display: block;
    position: absolute;
    height: 111px;
    width: 100%;
    box-shadow: none;
    top: 88px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 0;
    border-top: 20px solid transparent;
    box-sizing: content-box;
    margin-top: -57px; } }
@media screen and (max-width: 979px) {
  .account-masthead .account.not-authed ul li:nth-child(n+3) {
    display: none; }

  .masthead .container {
    padding-left: 0;
    padding-right: 0;
    background: #69737c; }

  hgroup {
    background-color: #FEFEFE;
    padding-right: 0px;
    margin-right: 0px; }

  .masthead {
    border-bottom: 0; }

  .masthead .nav-collapse {
    padding-top: 0;
    height: auto;
    top: 48px; }

  .masthead .site-search {
    display: block; }

  .masthead .navigation ul.nav li a, .masthead .navigation ul.nav li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .masthead .navigation ul.nav li #publisher-tree > ul > li {
    color: #fff; }

  /*   .navigation ul.nav li:hover > ul.dropdown-menu {
      display: none;
    } */
  .simple-input .field {
    padding: 20px 15px 20px 15px;
    background: #69737c;
    position: absolute;
    top: 79px;
    right: -30px;
    width: 100%;
    border: none;
    display: inline-block;
    margin-top: 30px; }

  .dwga-search .site-search .field button[type="submit"] {
    font-size: 18px;
    width: 16%;
    height: 43px;
    color: #fff;
    border: none;
    float: right;
    margin-right: 0;
    font-family: 'ready-steady-gov';
    background: #95c677;
    top: 30px;
    right: 47px; }

  .masthead hgroup h1 {
    margin-top: 12px;
    margin-left: -5px;
    letter-spacing: 0px;
    background: none;
    /* background-color: #FCFCFC; */
    min-height: 0px; }

  .masthead .site-search input {
    padding-top: 5px;
    padding-left: 9px;
    margin-right: -40px;
    height: 32px;
    font-size: 16px;
    width: 80%; }

  .dwga-title {
    margin-bottom: 17px; }

  .dgwa-logo {
    padding-left: 20px; }

  .dwga-logo .logo img {
    width: 80px;
    height: 78px; }

  .dwga-title h3 {
    margin-left: -6px; }

  .dwga-search {
    padding-right: 0px;
    float: right;
    margin-right: -6px;
    margin-top: 23px;
    width: 100%; }

  /* form.site-search.simple-input {
    width: 100%;
    margin-right: -14px;
    margin-top: 2px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #69737c;
  } */
  #dwga-header-container .btn.btn-navbar .icon-bar {
    margin-top: -9px;
    height: 3px;
    margin-left: -6px;
    width: 19px; }

  #dwga-header-container button.btn.btn-navbar {
    padding-left: 22px;
    padding-top: 30px;
    margin-left: 25px;
    padding-right: 20px;
    padding-bottom: 3px;
    margin-right: 20px;
    margin-top: 20px;
    height: 49px;
    width: 48px;
    border-radius: 0; }

  .dwga-search .site-search .field button .icon-search:before {
    margin-left: 4px;
    font-size: 20px;
    padding-bottom: 6px; }

  .account-masthead {
    margin-right: -42px; } }
@media (max-width: 374px) {
  .masthead hgroup h1 {
    margin-top: -47px; } }
@media (max-width: 767px) {
  .dwga-logo {
    margin-top: -4px;
    padding-left: 20px; }

  .dwga-title h1 a, .dwga-title h1 .group-list .module-heading h3 a, .group-list .module-heading h3 .dwga-title h1 a, .dwga-title h1 .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .dwga-title h1 #publisher-tree > ul > li {
    font-size: 16px; }

  .dwga-title h3 {
    font-size: 8px; }

  .account-masthead .account.not-authed {
    margin-right: 15px; } }
/* ====================================
   The footer at the bottom of the site
   ==================================== */
.site-footer {
  background: #eff1f2;
  padding-top: 33px; }
  .site-footer, .site-footer label, .site-footer small, .site-footer a, .site-footer .group-list .module-heading h3 a, .group-list .module-heading h3 .site-footer a, .site-footer .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .site-footer #publisher-tree > ul > li {
    color: #565656;
    font-size: 15px; }
  .site-footer > .container .row {
    margin-bottom: 22px; }
  .site-footer .attribution {
    margin-left: 0; }
    .site-footer .attribution > a, .site-footer .group-list .module-heading h3 .attribution > a, .group-list .module-heading h3 .site-footer .attribution > a, .site-footer .datawa-organization-list #publisher-tree > ul.attribution > li, .datawa-organization-list .site-footer #publisher-tree > ul.attribution > li {
      margin-right: 20px; }
  .site-footer .inline-links {
    margin-bottom: 11px; }
    .site-footer .inline-links li {
      display: inline;
      text-decoration: underline; }
      .site-footer .inline-links li:after {
        content: '';
        border-right: 1px solid #565656;
        text-decoration: none;
        margin-right: 5px;
        margin-left: 10px; }
      .site-footer .inline-links li:last-child:after {
        border-right: none;
        margin-right: 0;
        margin-left: 0; }
  .site-footer .footer-wa-link-wrapper {
    position: relative; }
  .site-footer .footer-wa-link {
    position: absolute;
    left: 0;
    font-size: 25px;
    text-decoration: none;
    margin-top: 8px; }
  .site-footer .without-margin {
    margin: 0; }
  .site-footer .row {
    margin-left: 0; }
  @media (max-width: 767px) {
    .site-footer {
      border-left: 20px solid #fff;
      border-right: 20px solid #fff;
      border-bottom: 20px solid #fff;
      padding-top: 24px; }
      .site-footer .footer-links,
      .site-footer .attribution,
      .site-footer .footer-wa-link-wrapper,
      .site-footer .secondary-footer-links,
      .site-footer .without-margin {
        display: block;
        text-align: center;
        float: none;
        margin: auto;
        margin-bottom: 30px; }
      .site-footer .footer-links {
        width: auto; }
      .site-footer .attribution {
        text-align: center;
        width: 280px; }
        .site-footer .attribution label,
        .site-footer .attribution p {
          text-align: left; }
        .site-footer .attribution label {
          display: block; }
      .site-footer .footer-wa-link {
        position: static; }
      .site-footer .lang-select > * {
        float: none; }
      .site-footer .lang-select .lang-container {
        width: 280px !important;
        text-align: center; }
      .site-footer > .container .row {
        margin-bottom: 14px; }
      .site-footer .footer-wa-link {
        margin-left: 0; }
      .site-footer .paragraph-copyright {
        margin-top: 43px; } }
  @media (max-width: 767px) {
    .site-footer {
      margin-left: -20px;
      margin-right: -20px; } }

@media (min-width: 1280px) {
  .site-footer .footer-powered-section {
    margin-left: 20px; }
  .site-footer .attribution {
    width: auto;
    max-width: 220px;
    margin-left: 20px; }
    .site-footer .attribution label {
      display: block; }
    .site-footer .attribution .lang-select .lang-container {
      float: none; } }
.homepage .media-heading {
  word-break: inherit;
  hyphens: manual; }
.homepage .stats ul {
  padding-left: 0; }
  @media (max-width: 500px) {
    .homepage .stats ul li {
      width: 50%; }
      .homepage .stats ul li:nth-child(2n - 1) {
        clear: both; } }
  @media (min-width: 980px) and (max-width: 1099px) {
    .homepage .stats ul li {
      width: 50%; }
      .homepage .stats ul li:nth-child(2n - 1) {
        clear: both; } }
  .homepage .stats ul li a, .homepage .stats ul li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .homepage .stats ul li #publisher-tree > ul > li {
    font-size: 16px; }
    .homepage .stats ul li a:hover, .homepage .stats ul li .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .homepage .stats ul li #publisher-tree > ul > li:hover {
      text-decoration: underline; }
    .homepage .stats ul li a b, .homepage .stats ul li .datawa-organization-list #publisher-tree > ul > li b, .datawa-organization-list .homepage .stats ul li #publisher-tree > ul > li b {
      font-size: 28px;
      line-height: 1.59375em; }
.homepage .module-heading a, .homepage .group-list .module-heading h3 a, .group-list .homepage .module-heading h3 a, .homepage .module-heading .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .homepage .module-heading #publisher-tree > ul > li {
  font-size: 28px; }
.homepage .search-form {
  padding: 0; }

.custom-group-list .module-image {
  width: 190px;
  height: 113px;
  margin-right: 18px; }
  @media (max-width: 767px) {
    .custom-group-list .module-image {
      width: 100px;
      height: 60px; } }
  @media (max-width: 979px) {
    .custom-group-list .module-image {
      margin-right: 12px; } }
  .custom-group-list .module-image img {
    max-width: 100%;
    max-height: 100%; }
.custom-group-list .module {
  margin: 15px 0; }
  .custom-group-list .module .module-heading {
    background: #f5f5f5;
    padding: 18px; }
    @media (max-width: 979px) {
      .custom-group-list .module .module-heading {
        padding-left: 15px;
        padding-right: 15px; } }
.custom-group-list .media-heading {
  font-size: 22px;
  line-height: 1.59375em;
  -ms-word-break: normal;
  word-break: normal; }

.datawa-organization-list #publisher-tree > ul {
  margin: 0;
  padding-left: 0; }
  .datawa-organization-list #publisher-tree > ul > li {
    position: relative;
    text-decoration: none;
    font-size: 28px;
    padding: 23.5px;
    margin-bottom: 20px;
    line-height: 1;
    background: #f5f5f5;
    list-style: none;
    word-break: break-word; }
    .datawa-organization-list #publisher-tree > ul > li:before {
      width: 39px;
      height: 37px;
      display: inline-block;
      content: "";
      background: #95c677 url("/plus.png") 50% 50% no-repeat;
      border-bottom: 2px solid #7bb855;
      cursor: pointer;
      position: absolute;
      top: 18px; }
    .datawa-organization-list #publisher-tree > ul > li.open:before {
      background: #e7e9ec url("/minus.png") 50% 50% no-repeat;
      border-bottom: 2px solid #cccfd1; }
    .datawa-organization-list #publisher-tree > ul > li > a {
      margin-left: 55px;
      display: inline-block; }
    .datawa-organization-list #publisher-tree > ul > li > ul {
      padding-left: 0;
      display: none; }
    .datawa-organization-list #publisher-tree > ul > li.open > ul {
      display: block;
      margin-top: 20px; }
    .datawa-organization-list #publisher-tree > ul > li > ul > li {
      font-size: 16px;
      line-height: 1.59375em;
      list-style: disc;
      margin-left: 55px; }
.datawa-organization-list + .pagination {
  display: none; }

.dataset-item {
  border-bottom: 1px dotted #efefef; }
  .dataset-item .dataset-heading {
    font-size: 22px; }
    .dataset-item .dataset-heading a, .dataset-item .dataset-heading .group-list .module-heading h3 a, .group-list .module-heading h3 .dataset-item .dataset-heading a, .dataset-item .dataset-heading .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .dataset-item .dataset-heading #publisher-tree > ul > li {
      color: #20399d; }
      .dataset-item .dataset-heading a:hover, .dataset-item .dataset-heading .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .dataset-item .dataset-heading #publisher-tree > ul > li:hover {
        color: #1e527c; }
  .dataset-item .dataset-resources a, .dataset-item .dataset-resources .group-list .module-heading h3 a, .group-list .module-heading h3 .dataset-item .dataset-resources a, .dataset-item .dataset-resources .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .dataset-item .dataset-resources #publisher-tree > ul > li {
    text-decoration: none; }

ul.dataset-list {
  margin-left: 0; }

.context-info h1.heading {
  hyphens: none;
  word-break: inherit; }

@media (max-width: 768px) {
  .page-header .content_action {
    float: none;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 2px; }
  .page-header .nav-tabs {
    margin: 0;
    float: none; }
    .page-header .nav-tabs a, .page-header .nav-tabs .group-list .module-heading h3 a, .group-list .module-heading h3 .page-header .nav-tabs a, .page-header .nav-tabs .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .page-header .nav-tabs #publisher-tree > ul > li {
      border: 1px solid #ddd; } }
.page-header .nav-tabs li a, .page-header .nav-tabs li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .page-header .nav-tabs li #publisher-tree > ul > li {
  color: #20399d;
  border-radius: 0;
  text-decoration: none; }
  .page-header .nav-tabs li a:hover, .page-header .nav-tabs li .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .page-header .nav-tabs li #publisher-tree > ul > li:hover {
    color: #1e527c;
    background: #f5f5f5; }
.page-header .nav-tabs li.active a, .page-header .nav-tabs li.active .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .page-header .nav-tabs li.active #publisher-tree > ul > li, .page-header .nav-tabs li.active a:hover, .page-header .nav-tabs li.active .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .page-header .nav-tabs li.active #publisher-tree > ul > li:hover {
  color: #69737c; }
.page-header .nav-tabs li.active a:hover, .page-header .nav-tabs li.active .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .page-header .nav-tabs li.active #publisher-tree > ul > li:hover {
  background: #fff; }

.module-content .label.label-inverse {
  background: #f5f6f7;
  border-bottom: 2px solid #c7cacd;
  font-size: 16px;
  border-radius: 0;
  padding: 11px 32px; }
  .module-content .label.label-inverse img {
    vertical-align: bottom; }
  .module-content .label.label-inverse:hover {
    background: #e7e9ec; }
  .module-content .label.label-inverse a, .module-content .label.label-inverse .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .module-content .label.label-inverse #publisher-tree > ul > li {
    text-decoration: none;
    color: #69737c !important;
    text-shadow: none; }

.tags .tag-list {
  margin-left: 0; }

.resources .resource-list {
  margin-left: 0; }
@media (max-width: 979px) {
  .resources .resource-item {
    padding-bottom: 60px; } }
.resources .resource-item .heading {
  color: #20399d;
  font-size: 16px; }
  .resources .resource-item .heading:hover, .resources .resource-item .heading:active {
    color: #1e527c; }
.resources .resource-item .description {
  font-size: 14px; }
@media (max-width: 979px) {
  .resources .resource-item .dropdown {
    top: 65px;
    left: 0; }
    .resources .resource-item .dropdown > a, .resources .resource-item .group-list .module-heading h3 .dropdown > a, .resources .resource-item .datawa-organization-list #publisher-tree > ul.dropdown > li, .datawa-organization-list .resources .resource-item #publisher-tree > ul.dropdown > li {
      position: absolute;
      right: 0;
      left: 0; }
    .resources .resource-item .dropdown.open .dropdown-menu {
      margin: 0;
      top: 42px;
      width: 100%;
      box-sizing: border-box; } }
@media (max-width: 768px) {
  .resources .resource-item .dropdown {
    display: block; } }
.resources .resource-item .dropdown a, .resources .resource-item .dropdown .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .resources .resource-item .dropdown #publisher-tree > ul > li {
  border-radius: 0;
  padding: 10px 32px;
  border-bottom-color: #7eba59;
  font-size: 16px; }
.resources .resource-item .dropdown.open a, .resources .resource-item .dropdown.open .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .resources .resource-item .dropdown.open #publisher-tree > ul > li {
  background: #87be65; }
.resources .resource-item .dropdown.open ul {
  border-radius: 0; }
  .resources .resource-item .dropdown.open ul li {
    list-style: none; }
    .resources .resource-item .dropdown.open ul li a, .resources .resource-item .dropdown.open ul li .datawa-organization-list #publisher-tree > ul > li, .datawa-organization-list .resources .resource-item .dropdown.open ul li #publisher-tree > ul > li {
      background: #fff;
      color: #20399d;
      text-decoration: none; }
      .resources .resource-item .dropdown.open ul li a:hover, .resources .resource-item .dropdown.open ul li .datawa-organization-list #publisher-tree > ul > li:hover, .datawa-organization-list .resources .resource-item .dropdown.open ul li #publisher-tree > ul > li:hover {
        color: #1e527c;
        text-decoration: underline; }
.resources .resource-item .dropdown .icon-share-alt:before {
  content: '';
  background: url("/drop-arrow-icon.png") 50% 50% no-repeat;
  width: 19px;
  height: 11px; }

.additional-info .table, .additional-info .table-striped {
  border-left: none;
  border-right: none;
  border-radius: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef; }
  .additional-info .table thead th, .additional-info .table thead td, .additional-info .table-striped thead th, .additional-info .table-striped thead td {
    width: 100%; }
    .additional-info .table thead th:first-child, .additional-info .table thead td:first-child, .additional-info .table-striped thead th:first-child, .additional-info .table-striped thead td:first-child {
      width: 190px; }
      @media (max-width: 979px) {
        .additional-info .table thead th:first-child, .additional-info .table thead td:first-child, .additional-info .table-striped thead th:first-child, .additional-info .table-striped thead td:first-child {
          width: 100px; } }
  .additional-info .table th, .additional-info .table td,
  .additional-info .table tbody tr td, .additional-info .table tbody tr th, .additional-info .table-striped th, .additional-info .table-striped td,
  .additional-info .table-striped tbody tr td, .additional-info .table-striped tbody tr th {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #efefef;
    background: #fff; }

@media (max-width: 979px) {
  .js [role=main] .secondary .filters {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 10px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5); }
  .js .show-filters.btn {
    border: none;
    background: #95c677;
    border-bottom: 2px solid #7bb855;
    border-radius: 0;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px 10px;
    font-size: 16px; }
    .js .show-filters.btn:hover {
      background: #87be65; }
    .js .show-filters.btn i {
      color: #fff; }
  .js body.filters-modal .secondary .filters .hide-filters {
    text-decoration: none; }
    .js body.filters-modal .secondary .filters .hide-filters i {
      font-size: 28px; }
  .js body.filters-modal .secondary .filters {
    display: block; }
    .js body.filters-modal .secondary .filters > div {
      background: #fff; }
  .js body.filters-modal .secondary .filters .hide-filters {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0.6; } }
/* ===========================================
   The content in the middle of the front page
   =========================================== */
/* Hide featured section */
.featured {
  visibility: hidden;
  height: 0px; }

/* The background outside of the hero pane */
.hero, [role=main] {
  background: #FEFEFE; }

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none; }

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
.hero .box {
  border: none; }

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: #69737c;
  background-color: white; }

/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: #69737c;
  background-color: #FCFCFC; }
  .homepage .module-search .tags h3 {
    font-size: 16px; }

/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px; }

.homepage .module-search {
  padding: 0px; }

/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px; }

/* The box around featured orgs/groups */
.box {
  border: none; }

body, html {
  overflow-x: hidden; }

.row {
  margin-left: 0; }

.paragraph-copyright {
  font-size: 17px;
  line-height: 1.3; }

@media (min-width: 1280px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }

  #content,
  .homepage [role="main"] .container {
    padding-left: 58px;
    padding-right: 105px; }

  .homepage .span6 {
    margin: 0; }
    .homepage .span6:first-child {
      margin-right: 20px; }

  .span3 {
    width: 270px; } }
@media (min-width: 1500px) {
  #content,
  .homepage [role="main"] .container {
    padding-left: 48px; } }
@-moz-document url-prefix() {
  .form-select.control-order-by {
    position: relative; }
    .form-select.control-order-by:after {
      pointer-events: none;
      content: "\f107";
      background: #fff;
      display: inline-block;
      font-family: "FontAwesome";
      line-height: 16px;
      pointer-events: none;
      position: absolute;
      right: 7px;
      top: 7px; }
      @media (max-width: 979px) {
        .form-select.control-order-by:after {
          top: 33px; } } }
.span9 div.module-content {
  padding-left: 0; }

@media (min-width: 980px) {
  .form-select.control-group.control-order-by {
    margin-top: 5px; } }
@media (max-width: 979px) {
  .search-form .control-order-by select {
    width: 100%; }

  .module:last-child {
    margin-bottom: 20px; } }
@media (min-width: 1500px) {
  .container {
    width: 1086px;
    box-sizing: content-box; }

  .site-footer .container {
    width: 1280px; }

  .span9 {
    width: 800px; }

  .span3 {
    width: 250px; }

  .span6 {
    width: 533px; }
    .span6:first-child {
      margin-left: 0; }

  .site-footer .attribution:first-child {
    margin-left: 91px; } }
@media (max-width: 1499px) and (min-width: 1280px) {
  .container {
    width: 948px;
    box-sizing: content-box; }

  .site-footer .container {
    width: 1100px; }

  .span9 {
    width: 680px; }

  .span3 {
    width: 230px; }

  .span6 {
    width: 464px; }
    .span6:first-child {
      margin-left: 0; } }
@media (max-width: 1279px) and (min-width: 1100px) {
  .container {
    width: 917px; }
    .container#content, .container.homepage [role="main"] .container {
      padding-right: 6px; }

  .span9 {
    width: 670px; }

  .span3 {
    width: 220px; }

  .span6 {
    width: 448px; }
    .span6:first-child {
      margin-left: 0; }

  .site-footer .attribution:first-child {
    margin-left: 8px; } }
@media (max-width: 1099px) and (min-width: 980px) {
  .container {
    width: 762px; }
    .container#content, .container.homepage [role="main"] .container {
      padding-right: 6px; }

  .span9 {
    width: 560px; }

  .span3 {
    width: 180px; }

  .span6 {
    width: 370px; }
    .span6:first-child {
      margin-left: 0; }

  .site-footer .select2-container.lang-container {
    width: 190px !important; }
  .site-footer .attribution > a, .site-footer .group-list .module-heading h3 .attribution > a, .group-list .module-heading h3 .site-footer .attribution > a, .site-footer .datawa-organization-list #publisher-tree > ul.attribution > li, .datawa-organization-list .site-footer #publisher-tree > ul.attribution > li {
    margin-right: 9px; } }
@media (max-width: 979px) and (min-width: 768px) {
  .homepage .span6 {
    float: none;
    width: auto;
    margin-left: 0; }
  .homepage .hidden-phone {
    display: none; }

  .primary.span9 {
    width: 100%; }

  .secondary.span3 {
    width: 100%; }

  .container {
    width: 660px; }

  .span6 {
    width: 330px; }

  .span9 .page-header {
    margin-left: 0; }

  .tablet-text-right {
    text-align: right; }

  .attribution {
    width: 220px;
    float: right; }
    .attribution:first-child {
      margin-bottom: 20px; }

  #content {
    padding-left: 54px;
    padding-right: 60px; } }
@media (max-width: 979px) {
  [role="main"] {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px; }

  .primary.span9 {
    padding-top: 20px;
    background-color: #fff; }

  .module-content {
    padding: 0; }

  .toolbar {
    display: none; }

  .secondary.span3 {
    float: left; } }

/*# sourceMappingURL=datawagovautheme.css.map */
