{% ckan_extends %}

{% block package_description %}
    {% if h.get_pkg_dict_extra(pkg,'harvest_source_title') %}
    <span class="dataset-private label label-inverse">
    <i class="icon-link"></i>
    From {{h.get_pkg_dict_extra(pkg,'harvest_source_title') }}
    </span>
    {% endif %}

    <div class="clearfix">
        <span class="label label-inverse" style="float: right;">
        <img src="/json-icon.png"/>
        <a href="/api/3/action/{{ h.url_for('package_show', id=c.pkg.id) }}">JSON</a>
        </span>&nbsp;
        <span class="label label-inverse" style="float: right;margin-right: 10px;">
        <img src="/rdf-icon.png"/>
        <a href="{{ h.url_for('dataset_read', id=c.pkg.id) }}.rdf">RDF</a>
        </span>
        <!--span class="label label-inverse" style="float: right; margin-right: 10px;margin-left: 10px;">
        <i class="icon-file-alt"></i>
        <a style="color: lightgrey;" href="{{ h.url_for('dataset_read', id=c.pkg.id) }}/gmd">ISO19115/ISO19139 XML</a-->
        </span>
    <!-- {{ super() }} -->
        {% if pkg.private %}
          <span class="dataset-private label label-private pull-left">
            <i class="fa fa-lock"></i>
            {{ _('Private') }}
            <!-- <img src="/private.png" title="private dataset"/> -->
          </span>
        {% endif %}
        <h1 class="pull-left dataset-title">
          {% block page_heading %}
            {{ super() }}
          {% endblock %}
        </h1>
    </div>
        {% block package_notes %}
          {{ super() }}
        {% endblock %}
{% endblock %}

