{% ckan_extends %}

{% block primary_content %}
  <article class="module">
    {% block page_header %}
    <header class="module-content page-header">
        {% if self.content_action() | trim %}
          <div class="content_action">
            {% block content_action %}{{ super() }}{% endblock %}
          </div>
        {% endif %}
        <ul class="nav nav-tabs">
            {% block content_primary_nav %}{{ super() }}{% endblock %}
        </ul>
    </header>
    {% endblock %}
    <div class="module-content">
      {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
          {% block page_primary_action %}{% endblock %}
        </div>
      {% endif %}
    {% block organization_info %}
        <h1>{% block page_heading %}{{ c.group_dict.display_name }}{% endblock %}</h1>
        {% if c.group_dict.description %}
          {{ h.render_markdown(c.group_dict.description) }}
        {% endif %}
        {% block organization_fileds %}
            {% snippet 'snippets/additional_info.html', extras = h.sorted_extras(c.group_dict.extras) %}
        {% endblock %}
    {% endblock %}
    </div>
  </article>
{% endblock %}