{% import 'macros/form.html' as form %}

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
    field.get('form_include_blank_choice', false) -%}
  {%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in field.choices -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': c.value,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}
{%- if field.get('sorted_choices') -%}
  {%- set options = options|sort(case_sensitive=false, attribute='text') -%}
{%- endif -%}

{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data[field.field_name],
    error=errors[field.field_name],
    classes=['control-medium'],
    attrs=field.form_attrs if 'form_attrs' in field else {},
    is_required=h.scheming_field_required(field)
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
	<div id="res-access-level-warning" class="info-block">
		<p>
			<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			You have chosen an access level for this resource that will require the resource to be secured. This is only a label and doesn't affect access to the resource - you'll still need to secure access to the resource yourself if its dataset's visibility is not set to "private". (Note: Geospatial data hosted in SLIP will automatically populate and secure [if applicable] your resources.)
		</p>
	</div>
{% endcall %}

{% set uploaded = data.url_type if data and data.url_type else false %}
{% set data_exists = true if data else false %}
<div class="form-group">
  <div
    id="res-uploaded-warning"
    data-module="resource-uploaded-warning"
    data-module-uploaded="{{ uploaded }}"
    data-module-edit="{{ data_exists }}"
    class="info-block">
    <p>
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      Resources uploaded and hosted within data.wa.gov.au can’t be restricted. To set an Access Level other than "Open" for this resource, upload it as a link and secure the resource yourself. (Note: Geospatial data hosted in SLIP will automatically populate and secure [if applicable] your resources.)
    </p>
  </div>
</div>
<div class="form-group">
  <div
    id="access-level-tooltips"
    data-module="access-level-tooltips"
    data-module-list="{{ h.access_level_text(all=True, as_json=True) }}"
    data-module-select="{{ '#field-' + field.field_name }}">
  </div>
</div>
