{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'datawagovautheme/styles/datawagovautheme.css' %}
  {% resource 'datawagovautheme/drop_down_menu.js' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource "datawagovautheme/datawa-organization-opener.js" %}
  {% resource "datawagovautheme/datawa.js" %}
{% endblock %}

{% block meta %}
   {{ super() }}
   <meta name="google-site-verification" content="SALCs2HUU_-WFKh7s27fxGa7XLBp32nGuuA5zgtr3Zk" />
   <meta name="msvalidate.01" content="DF3D66336DE6B56D6818F9FD7BE04800" />
{% endblock %}
