{% block header_wrapper %}
{% block header_account %}
  <header class="account-masthead container-header">
    <div class="container">
      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
              {% block header_account_logged %}
              {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="fa fa-legal" aria-hidden="true"></i>
                    <span class="text">{{ _('Admin') }}</span>
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username mobile-320-499">{{ h.truncate(c.userobj.display_name, 10) }}</span>
                  <span class="username mobile-500">{{ c.userobj.display_name }}</span>
                </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                  <i class="fa fa-dashboard" aria-hidden="true"></i>
                  <span class="text">{{ _('Dashboard') }}</span>
                  <span class="badge">{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Settings') }}</span>
                  </a>
                </li>
              {% endblock %}
              {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="text">{{ _('Log out') }}</span>
                  </a>
                </li>
              {% endblock %}
              {% endblock %}
            </ul>
          </div>
        {% else %}
          <nav class="account not-authed">
            <ul class="unstyled">
              {% block header_account_notlogged %}
              <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
              {% if h.check_access('user_create') %}
                <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
              {% endif %}
              <li class="hide-mobile"><a class="sub" href="http://data.wa.gov.au/site-map/site-map-listing">Site map</a></li>
              <li class="hide-mobile"><a class="sub" href="http://data.wa.gov.au/accessibility">Accessibility</a></li>
              <li class="hide-mobile"><a class="sub" href="http://data.wa.gov.au/contact-us">Contact us</a></li>
              {% endblock %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
    </div>
  </header>
{% endblock %}
<div class="container-header" style="background: none; background-color: #FEFEFE;">
<header class="navbar navbar-default navbar-static-top masthead">
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container" id="dwga-header-container" >

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dwga-header-navigation" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <hgroup class="row dwga-header-row"><!-- Force  navbar into new row -->
      <div class="col-md-12">
        {% block header_logo %}
          <div class="dwga-logo dwga-inlineblock">
            <a class="logo pull-left" href="{{ h.url('home.index') }}"><img
              src="/Logo_n.png" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
          </div>
          <div class="dwga-title dwga-inlineblock">
            <h1><a href="{{ 'http://data.wa.gov.au' }}">{{ 'data.wa.gov.au' }}</a></h1>
            <h3>Providing access to WA government data</h3>
            <!--h1><small>{{ g.site_description }}</small></h1-->
          </div>
        {% endblock header_logo %}

        {% block header_site_search %}
        <div class="dwga-search dwga-inlineblock">
          <form class="site-search simple-input"
            action="{% url_for controller='package', action='search' %}" method="get">
            <div class="field">
              <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
              <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search for data...') }}" />
              <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        {% endblock header_site_search %}
      </div>
    </hgroup><!-- /.dwga-row -->


    <div class="collapse navbar-collapse" id="dwga-header-navigation">
      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav">
            <li><a href="http://data.wa.gov.au">Home</a></li>
            <li>
              <a href="#header-dropdown" data-toggle="collapse"  class="header-parent-menu data-activated active collapsed">Data</a>
              <ul class="nav header-child-menu collapse" id="header-dropdown">
                {% block header_site_navigation_tabs %}
                  {{ h.build_nav_main(
                    ('home.index', _('Data Home')),
                    ('search', _('Datasets')),
                    ('organizations_index', _('Organizations')),
                    ('group_index', _('Groups')),
                    ('ckanext_showcase_index', _('Showcases'))
                  ) }}
                {% endblock %}
                <li><a href="https://data.wa.gov.au/about">About</a></li>
                <li><a href="http://map.beta.data.wa.gov.au/">WA Map</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      {% endblock %}
      <ul class="nav nav-secondary hide-desktop">
        <li><a href="http://data.wa.gov.au/site-map/site-map-listing">Site map</a><li>
        <li><a href="http://data.wa.gov.au/accessibility">Accessibility</a></li>
        <li><a href="http://data.wa.gov.au/contact-us">Contact us</a></li>
      </ul>
    </div>
    <!-- .nav-collapse collapse pull-left -->

  </div>
</header>
<div class="navbar-static-top secondary-menu-navbar hide-mobile">
  <div class="container">
    <ul class="nav header-secondary-menu">
      {% block header_site_secondary_tabs %}
        {{ h.build_nav_main(
          ('home.index', _('Data Home')),
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),
          ('group_index', _('Groups')),
          ('ckanext_showcase_index', _('Showcases'))
        ) }}
      {% endblock %}
      <li><a href="https://data.wa.gov.au/about">About</a></li>
      <li><a href="http://map.beta.data.wa.gov.au/">WA Map</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
